body {
    background-color: #EEE;
}

.container {
    background-color: white;
    box-shadow: 0 0 4px #9E9E9E;
}

.header {
    background-color: white;
}

.col-page-header {}
.page-header {
    color: #D50000;
    text-transform: uppercase;
    border-bottom: none;
    padding-left: 5%;
}
.page-header small {
    color: #2962FF;
    display: block;
    text-transform: none;
    /*margin: 3px 7px+3px 7px+2px;*/
;
}


.col-logo {
    text-align: right;
}
img.logo {
    margin: 10px 0 10px 10px;
    max-height: 120px;
    float: right;
}

.nav-horizontal,
.footer {
    border-top: 3px solid #EF9A9A;
}

.nav-horizontal {
    background-color: white;
    border-bottom: 3px solid #EF9A9A;
}

.nav-main {
    background-color: white;
    border-bottom: 1px solid #BDBDBD;
}

.nav-horizontal .nav > li > a {
    padding: 12px 15px 8px;
}

/* Links and menu items */
/* Any nav links */
.nav-horizontal li > a {
    color: black;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
}

/* First-level cats */
.nav-main > li { text-transform: uppercase; }
.nav-main > li > a {
    border-radius: 0;
    cursor: pointer;
}

/* Home */
.nav-main > li > a#home-link {
    padding: 11px 8px 6px 10px;
}
.nav-main > li > a#home-link img {
    width: 35px;
    height: 26px;
}
/* Home hovered */
.nav-main > li > a#home-link:hover,
.nav-main > li > a#home-link:focus {
    background-color: white;
    font-weight: 800;
}
/* First-level cats unfolded */
.nav-main > li.active > a,
.nav-main > li.active > a:hover,
.nav-main > li.active > a:focus {
    background-color: white;
    color: black;
    font-weight: 700;
    border-bottom: 3px solid #BDBDBD;
    padding-bottom: 5px;
}

.nav-horizontal li.active > a:after { /* use CSS generated content to add arrow to the menu */
    content:'';
    width:0;
    height:0;
    position:absolute;
    left:50%;
    margin-left:-7px;
    bottom: 0;
    border: 7px solid transparent;
    border-bottom-color: #BDBDBD;
}
.navbar-subnav li.active > a:after {
    border-bottom-color: #EF9A9A;
    margin-left:-7px;
    border-width: 7px
}

/* Subcats */
.navbar-subnav > li > a {
    font-size: 14px;
}

/* Active subcat */
.navbar-subnav > li.active > a,
.navbar-subnav > li.active > a:hover,
.navbar-subnav > li.active > a:focus {
    background-color: white;
    color: black;
    font-weight: 700;
    cursor: default;
    border-bottom: 2px solid #EF9A9A;
    padding-bottom: 6px;
}

/* Subcats hovered */
.navbar-subnav > li > a:hover,
.navbar-subnav > li > a:focus {
    background-color: white;
    font-weight: bold;
}

.main-content {}


.summary-text { display: none; }



/* Side panel and TOC: */

.main-content aside { top: 0; }
.main-content aside .toc {}

.toc h2 {
    color: #263238;
}

.tocify { overflow: auto; }
.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 30px;
}
.tocify-header {
    text-indent: 5px;
}
.tocify li.active {
    font-weight: 700;
}
.tocify a {
    color: #455a64;
    font-size: 15px;
}
.tocify .nav > li > a { padding: 2px 0; }
.tocify a:active,
.tocify a:hover {
    color: #1565c0;
    background-color: transparent !important;
}
.tocify-subheader { text-indent: 20px; display: none; }
.tocify-subheader li { font-size: 12px; }
.tocify-subheader .tocify-subheader { text-indent: 30px; }
.tocify-subheader .tocify-subheader .tocify-subheader { text-indent: 40px; }

/* Sticky side panel fixes for Chrome */
@media (min-width: 768px) {
    aside.fixedsticky-on { width: 187px; }
}
@media (min-width: 992px) {
    aside.fixedsticky-on { width: 242px; }
}
@media (min-width: 1200px) {
    aside.fixedsticky-on { width: 292px; }
}
.main-content .fixedsticky-on ~ .main-content-center {
    float: right;
}
.fixedsticky-dummy {
    height: 0 !important;
}

article,
.toc-container { opacity: 1; transition: opacity .2s ease; }
article.loading,
.toc-container.loading{ opacity: 0; transition: opacity 1s ease; }

#loading-error {
    padding: 5px 30px;
    margin-top: 10px;
}

article.h1,
article.h2,
article.h3,
article.h4,
article.h5,
article.h6 {}
article.h2 {}
article.h3 {}
article.h4 {}
article.h5 {}
article.h6 {}

article p {}

article img {}

.footer { margin-top: 1em; padding: 1em 0; text-align: center; }


/* fixed sticky */
/*noinspection ALL*/
.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off { position: static; }
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on { position: fixed; }
.fixedsticky-dummy { display: none; }
.fixedsticky-on + .fixedsticky-dummy { display: block; }