<h2>Topic a.1</h2>
<h3>Header 12869</h3>
<p> She liked him; he was a man of many qualities, even if most of them were bad. </p><p> filibuster, n.:
	Throwing your wait around. </p>
<h3>Header 21526</h3>
<p> I don't drink, I don't like it, it makes me feel too good.
		-- K. Coates </p><p> I guess it was all a DREAM ... or an episode of HAWAII FIVE-O ... </p>
<h3>Header 30460</h3>
<p> In the dimestores and bus stations
People talk of situations
Read books repeat quotations
Draw conclusions on the wall.
		-- Bob Dylan </p><p> Graduate students and most professors are no smarter than undergrads.
They're just older. </p>
<h3>Header 9335</h3>
<p> Every silver lining has a cloud around it. </p><p> Kettering's Observation:
	Logic is an organized way of going wrong with confidence. </p>
<h3>Header 15520</h3>
<p> Why are many scientists using lawyers for medical
experiments instead of rats?

	a)  There are more lawyers than rats.
	b)  The scientist's don't become as
 	    emotionally attached to them.
	c)  There are some things that even rats 
	    won't do for money. </p><p> Old Mother Hubbard lived in a shoe,
She had so many children,
She didn't know what to do.
So she moved to Atlanta. </p>
<h3>Header 22184</h3>
<p> "Hi, I'm Professor Alan Ginsburg... But you can call me... Captain Toke."
-- John Lovitz, as ex-Supreme Court nominee Alan Ginsburg, on SNL </p><p> The fact that it works is immaterial.
		-- L. Ogborn </p>
<h3>Header 21455</h3>
<p> My uncle Murray conquered Egypt in 53 B.C.  And I can prove it too!! </p><p> Life can be so tragic -- you're here today and here tomorrow. </p>
<h3>Header 23777</h3>
<p> A plethora of individuals with expertise in culinary techniques contaminate
the potable concoction produced by steeping certain edible nutriments. </p><p> After Goliath's defeat, giants ceased to command respect.
- Freeman Dyson </p>
<h3>Header 26692</h3>
<p> Everyone who comes in here wants three things:
	1. They want it quick.
	2. They want it good.
	3. They want it cheap.
I tell 'em to pick two and call me back.
-- sign on the back wall of a small printing company in Delaware </p><p> Unknown person(s) stole the American flag from its pole in Etra Park sometime
between 3pm Jan 17 and 11:30 am Jan 20.  The flag is described as red, white
and blue, having 50 stars and was valued at $40.
		-- Windsor-Heights Herald "Police Blotter", Jan 28, 1987 </p>
<h3>Header 20124</h3>
<p> In the beginning, I was made.  I didn't ask to be made.  No one consulted
with me or considered my feelings in this matter.  But if it brought some
passing fancy to some lowly humans as they haphazardly pranced their way
through life's mournful jungle, then so be it.
- Marvin the Paranoid Android, From Douglas Adams' Hitchiker's Guide to the
Galaxy Radio Scripts </p><p> As I was going up Punch Card Hill,
	Feeling worse and worser,
There I met a C.R.T.
	And it drop't me a cursor.

C.R.T., C.R.T.,
	Phosphors light on you!
If I had fifty hours a day
	I'd spend them all at you.
		-- Uncle Colonel's Cursory Rhymes </p>
<h3>Header 5229</h3>
<p> Swipple's Rule of Order:
	He who shouts the loudest has the floor. </p><p> I know the disposition of women: when you will, they won't; when
you won't, they set their hearts upon you of their own inclination.
		-- Publius Terentius Afer (Terence) </p>
<h3>Header 15929</h3>
<p> Non-sequiturs make me eat lampshades. </p><p> The universe is all a spin-off of the Big Bang. </p>
<h3>Header 12983</h3>
<p> "I wonder", he said to himself, "what's in a book while it's closed.  Oh, I 
know it's full of letters printed on paper, but all the same, something must 
be happening, because as soon as I open it, there's a whole story with people 
I don't know yet and all kinds of adventures and battles."
		-- Bastian B. Bux </p><p> You know you are getting old when you think you should drive the speed limit.
		-- E.A. Gilliam </p>
