<h2>Topic b.3</h2>
<h3>Header 29221</h3>
<p> -- Male cadavers are incapable of yielding testimony.
-- Individuals who make their abode in vitreous edifices would be well advised
	to refrain from catapulting projectiles.
-- Neophyte's serendipity.
-- Exclusive dedication to necessitious chores without interludes of hedonistic
	diversion renders John a hebetudinous fellow.
-- A revolving concretion of earthy or mineral matter accumulates no congeries
	of small, green bryophytic plant.
-- Abstention from any aleatory undertaking precludes a potential escallation
	of a lucrative nature.
-- Missiles of ligneous or osteal consistency have the potential of fracturing
	osseous structure, but appellations will eternally remain innocuous. </p><p> Marriage causes dating problems. </p>
<h3>Header 5336</h3>
<p> Sometimes I live in the country,
And sometimes I live in town.
And sometimes I have a great notion,
To jump in the river and drown. </p><p> If a 6600 used paper tape instead of core memory, it would use up tape
at about 30 miles/second.
		-- Grishman, Assembly Language Programming </p>
<h3>Header 29439</h3>
<p> Bennett's Laws of Horticulture:
	(1) Houses are for people to live in.
	(2) Gardens are for plants to live in.
	(3) There is no such thing as a houseplant. </p><p> Going the speed of light is bad for your age. </p>
<h3>Header 25958</h3>
<p> Philogyny recapitulates erogeny; erogeny recapitulates philogyny. </p><p> I am returning this otherwise good typing paper to you because someone
has printed gibberish all over it and put your name at the top.
		-- Professor Lowd, English, Ohio University </p>
<h3>Header 13553</h3>
<p> The Messiah will come.  There will be a resurrection of the dead -- all
the things that Jews believed in before they got so damn sophisticated.
- Rabbi Meir Kahane </p><p> I was gratified to be able to answer promptly, and I did. I said I didn't know.
		-- Mark Twain </p>
<h3>Header 27050</h3>
<p> When you're away, I'm restless, lonely,
Wretched, bored, dejected; only
Here's the rub, my darling dear
I feel the same when you are near.
		-- Samuel Hoffenstein, "When You're Away" </p><p> People of privilege will always risk their complete destruction
rather than surrender any material part of their advantage.
		-- John Kenneth Galbraith </p>
<h3>Header 15947</h3>
<p> If what they've been doing hasn't solved the problem, tell them to
do something else.
	-- Gerald Weinberg, "The Secrets of Consulting" </p><p> 	The FIELD GUIDE to NORTH AMERICAN MALES

SPECIES:	Cranial Males
SUBSPECIES:	The Hacker (homo computatis)
Description:
	Gangly and frail, the hacker has a high forehead and thinning hair.
	Head disproportionately large and crooked forward, complexion wan and
	sightly gray from CRT illumination.  He has heavy black-rimmed glasses
	and a look of intense concentration, which may be due to a software
	problem or to a pork-and-bean breakfast.
Feathering:
	HOMO COMPUTATIS saw a Brylcreem ad fifteen years ago and believed it.
	Consequently, crest is greased down, except for the cowlick.
Song:
	A rather plaintive "Is it up?" </p>
<h3>Header 21816</h3>
<p> Dungeons and Dragons is just a lot of Saxon Violence. </p><p> The major sin is the sin of being born.
		-- Samuel Beckett </p>
<h3>Header 1168</h3>
<p> You would if you could but you can't so you won't. </p><p> Yea from the table of my memory
I'll wipe away all trivial fond records.
		-- Hamlet </p>
<h3>Header 4239</h3>
<p> I can't drive 55. </p><p> Humor in the Court:
Q: Are you sexually active?
A: No, I just lie there. </p>
<h3>Header 23082</h3>
<p> Spiritual leadership should remain spiritual leadership and the temporal
power should not become too important in any church.
- Eleanor Roosevelt </p><p> Any great truth can -- and eventually will -- be expressed as a cliche --
a cliche is a sure and certain way to dilute an idea.  For instance, my
grandmother used to say, "The black cat is always the last one off the fence."
I have no idea what she meant, but at one time, it was undoubtedly true.
		-- Solomon Short </p>
<h3>Header 2614</h3>
<p> I'm having a RELIGIOUS EXPERIENCE ... and I don't take any DRUGS </p><p> Knocked, you weren't in.
		-- Opportunity </p>
<h3>Header 2186</h3>
<p> Youth is a disease from which we all recover.
		-- Dorothy Fuldheim </p><p> Dear Emily:
	I recently read an article that said, "reply by mail, I'll summarize."
What should I do?
		-- Doubtful

Dear Doubtful:
	Post your response to the whole net.  That request applies only to
dumb people who don't have something interesting to say.  Your postings are
much more worthwhile than other people's, so it would be a waste to reply by
mail.
		-- Emily Postnews Answers Your Questions on Netiquette </p>
<h3>Header 23511</h3>
<p> A programming language is low level when its programs require attention
to the irrelevant. </p><p> If a man has talent and cannot use it, he has failed.
		-- Thomas Wolfe </p>
<h3>Header 11921</h3>
<p> Each kiss is as the first.
		-- Miramanee, Kirk's wife, "The Paradise Syndrome",
		   stardate 4842.6 </p><p> To a Californian, the basic difference between the people and the pigeons
in New York is that the pigeons don't shit on each other.
	-- From "East vs. West: The War Between the Coasts </p>
<h3>Header 18249</h3>
<p> When two people are under the influence of the most violent, most insane,
most delusive, and most transient of passions, they are required to swear
that they will remain in that excited, abnormal, and exhausting condition
continuously until death do them part.
		-- George Bernard Shaw </p><p> Paul's Law:
	In America, it's not how much an item costs, it's how much you save. </p>
<h3>Header 17540</h3>
<p> [A computer is] like an Old Testament god, with a lot of rules and no mercy.
		-- Joseph Campbell </p><p> I suppose some of the variation between Boston drivers and the rest of the
country is due to the progressive Massachusetts Driver Education Manual which
I happen to have in my top desk drawer.  Some of the Tips for Better Driving
are worth considering, to wit:

[131.16d]:
       "Directional signals are generally not used except during vehicle
        inspection; however, a left-turn signal is appropriate when making
        a U-turn on a divided highway."

[96.7b]:
       "When paying tolls, remember that it is necessary to release the
        quarter a full 3 seconds before passing the basket if you are
        traveling more than 60 MPH."

[110.13]:
       "When traveling on a one-way street, stay to the right, so as not
        to interfere with oncoming traffic." </p>
<h3>Header 15549</h3>
<p> When in panic, fear and doubt,
Drink in barrels, eat, and shout. </p><p> Where's th' DAFFY DUCK EXHIBIT?? </p>
<h3>Header 13174</h3>
<p> Alexander Hamilton started the U.S. Treasury with nothing - and that was
the closest our country has ever been to being even.
	-- The Best of Will Rogers </p><p> We are all dying -- and we're gonna be dead for a long time. </p>
<h3>Header 17395</h3>
<p> The trouble with the rat-race is that even if you win, you're still a rat.
		-- Lily Tomlin </p><p> The light of a hundred stars does not equal the light of the moon. </p>
<h3>Header 14705</h3>
<p> People seem to enjoy things more when they know a lot of other people
have been left out on the pleasure.
		-- Russell Baker </p><p> Go not to the elves for counsel, for they will say both yes and no.
		-- J.R.R. Tolkien </p>
<h3>Header 14538</h3>
<p> Every love's the love before
In a duller dress.
		-- Dorothy Parker, "Summary" </p><p> "Good health" is merely the slowest rate at which one can die. </p>
<h3>Header 1876</h3>
<p> ... ich bin in einem dusenjet ins jahr 53 vor chr ... ich lande im
antiken Rom ...  einige gladiatoren spielen scrabble ... ich rieche
PIZZA ... </p><p> Yesterday I was a dog.  Today I'm a dog.  Tomorrow I'll probably still
be a dog. Sigh!  There's so little hope for advancement.
		-- Snoopy </p>
<h3>Header 13895</h3>
<p> Many husbands go broke on the money their wives save on sales. </p><p> Man invented language to satisfy his deep need to complain.
		-- Lily Tomlin </p>
<h3>Header 10879</h3>
<p> What an artist dies with me!
		-- Nero </p><p> Now and then an innocent man is sent to the legislature. </p>
<h3>Header 9162</h3>
<p> My brain is my second favorite organ.
		-- Woody Allen </p><p> If you didn't get caught, did you really do it? </p>
<h3>Header 20949</h3>
<p> 	A journalist, thrilled over his dinner, asked the chef for the recipe.
Retorted the chef, "Sorry, we have the same policy as you journalists, we
never reveal our sauce." </p><p> Imagine that Cray computer decides to make a personal computer.  It has
a 150 MHz processor, 200 megabytes of RAM, 1500 megabytes of disk
storage, a screen resolution of 4096 x 4096 pixels, relies entirely on
voice recognition for input, fits in your shirt pocket and costs $300.
What's the first question that the computer community asks?

"Is it PC compatible?" </p>
<h3>Header 10955</h3>
<p> It is bad luck to be superstitious.
		-- Andrew W. Mathis </p><p> QOTD:
	"I sprinkled some baking powder over a couple of potatoes, but it
	didn't work." </p>
<h3>Header 4890</h3>
<p> Now that day wearies me,
My yearning desire
Will receive more kindly,
Like a tired child, the starry night.

Hands, leave off your deeds,
Mind, forget all thoughts;
All of my forces
Yearn only to sink into sleep.

And my soul, unguarded,
Would soar on widespread wings,
To live in night's magical sphere
More profoundly, more variously.
		-- Hermann Hesse, "Going to Sleep" </p><p> Diplomacy is about surviving until the next century.  Politics is about
surviving until Friday afternoon.
		-- Sir Humphrey Appleby </p>
<h3>Header 9008</h3>
<p> My doctorate's in Literature, but it seems like a pretty good pulse to me. </p><p> Adhere to your own act, and congratulate yourself if you have done something
strange and extravagant, and broken the monotony of a decorous age.
		-- Ralph Waldo Emerson </p>
