<h2>Topic a.4</h2>
<h3>Header 29817</h3>
<p> "May the forces of evil become confused on the way to your house."
-- George Carlin </p><p> When a girl can read the handwriting on the wall, she may be in the wrong
rest room. </p>
<h3>Header 28465</h3>
<p> QOTD:
	On a scale of 1 to 10 I'd say...  oh, somewhere in there. </p><p> I can feel for her because, although I have never been an Alaskan prostitute
dancing on the bar in a spangled dress, I still get very bored with washing
and ironing and dishwashing and cooking day after relentless day.
		-- Betty MacDonald </p>
<h3>Header 11857</h3>
<p> ... computer hardware progress is so fast.  No other technology since
civilization began has seen six orders of magnitude in performance-price
gain in 30 years.
		-- Fred Brooks </p><p> The key elements in human thinking are not numbers but labels of fuzzy sets.
		-- L. Zadeh </p>
<h3>Header 18733</h3>
<p> 	An airplane pilot got engaged to two very pretty women at the same
time.  One was named Edith; the other named Kate.  They met, discovered they
had the same fiancee, and told him.  "Get out of our lives you rascal.  We'll
teach you that you can't have your Kate and Edith, too." </p><p> Always draw your curves, then plot your reading. </p>
<h3>Header 13999</h3>
<p> A freelance is one who gets paid by the word -- per piece or perhaps.
		-- Robert Benchley </p><p> Under the wide and starry sky,
Dig my grave and let me lie,
Glad did I live and gladly die,
And laid me down with a will,
And this be the verse that you grave for me,
Here he lies where he longed to be,
Home is the sailor home from the sea,
And the hunter home from the hill.
		-- R. Kipling </p>
<h3>Header 20166</h3>
<p> If there is a possibility of several things going wrong,
the one that will cause the most damage will be the one to go wrong.

If you perceive that there are four possible ways in which a procedure
can go wrong, and circumvent these, then a fifth way will promptly develop. </p><p> The world is not octal despite DEC. </p>
<h3>Header 26101</h3>
<p> QOTD:
	I've heard about civil Engineers, but I've never met one. </p><p> If I were a grave-digger or even a hangman, there are some people I could
work for with a great deal of enjoyment.
		-- Douglas Jerrold </p>
<h3>Header 24545</h3>
<p> Just because they are called 'forbidden' transitions does not mean that they
are forbidden.  They are less allowed than allowed transitions, if you see
what I mean.
		-- From a Part 2 Quantum Mechanics lecture. </p><p> When you dig another out of trouble, you've got a place to bury your own. </p>
<h3>Header 16164</h3>
<p> I have sacrificed time, health, and fortune, in the desire to complete these
Calculating Engines.  I have also declined several offers of great personal
advantage to myself.  But, notwithstanding the sacrifice of these advantages
for the purpose of maturing an engine of almost intellectual power, and after
expending from my own private fortune a larger sum than the government of
England has spent on that machine, the execution of which it only commenced,
I have received neither an acknowledgement of my labors, not even the offer
of those honors or rewards which are allowed to fall within the reach of men
who devote themselves to purely scientific investigations...  

If the work upon which I have bestowed so much time and thought were a mere
triumph over mechanical difficulties, or simply curious, or if the execution
of such engines were of doubtful practicability or utility, some justification
might be found for the course which has been taken; but I venture to assert
that no mathematician who has a reputation to lose will ever publicly express
an opinion that such a machine would be useless if made, and that no man
distinguished as a civil engineer will venture to declare the construction of
such machinery impracticable...

And at a period when the progress of physical science is obstructed by that
exhausting intellectual and manual labor, indispensable for its advancement,
which it is the object of the Analytical Engine to relieve, I think the 
application of machinery in aid of the most complicated and abtruse
calculations can no longer be deemed unworthy of the attention of the country.
In fact, there is no reason why mental as well as bodily labor should not
be economized by the aid of machinery.
- Charles Babbage, Passage from the Life of a Philosopher </p><p> A Tale of Two Cities LITE(tm)
	-- by Charles Dickens

	A man in love with a girl who loves another man who looks just
	like him has his head chopped off in France because of a mean
	lady who knits.

Crime and Punishment LITE(tm)
	-- by Fyodor Dostoevski

	A man sends a nasty letter to a pawnbroker, but later
	feels guilty and apologizes.

The Odyssey LITE(tm)
	-- by Homer

	After working late, a valiant warrior gets lost on his way home. </p>
<h3>Header 25980</h3>
<p> To lead people, you must follow behind.
		-- Lao Tsu </p><p> Knowledge, sir, should be free to all!
		-- Harry Mudd, "I, Mudd", stardate 4513.3 </p>
<h3>Header 14929</h3>
<p> The poetry of heroism appeals irresitably to those who don't go to a war,
and even more so to those whom the war is making enormously wealthy."
		-- Celine </p><p> One doesn't have a sense of humor.  It has you.
		-- Larry Gelbart </p>
<h3>Header 13537</h3>
<p> Lost: gray and white female cat.  Answers to electric can opener. </p><p> Gloffing is a state of mine. </p>
<h3>Header 20054</h3>
<p> The English instinctively admire any man who has no talent and is modest
about it.
		-- James Agate, British film and drama critic </p><p> Creativity is not always bred in an environment of tranquility;
sometimes you have to squeeze a little to get the paste out of the tube. </p>
<h3>Header 30106</h3>
<p> Digital computers are themselves more complex than most things people build:
They hyave very large numbers of states.  This makes conceiving, describing,
and testing them hard.  Software systems have orders-of-magnitude more states
than computers do.
- Fred Brooks, Jr. </p><p> In a medium in which a News Piece takes a minute and an "In-Depth"
Piece takes two minutes, the Simple will drive out the Complex.
		-- Frank Mankiewicz </p>
<h3>Header 26710</h3>
<p> If God had a beard, he'd be a UNIX programmer. </p><p> If the automobile had followed the same development as the computer, a
Rolls-Royce would today cost $100, get a million miles per per gallon,
and explode once a year killing everyone inside.
		-- Robert Cringely, InfoWorld </p>
<h3>Header 28103</h3>
<p> Death is Nature's way of recycling human beings. </p><p> Dijkstra probably hates me
(Linus Torvalds, in kernel/sched.c) </p>
<h3>Header 16221</h3>
<p> Yes, it is written.  Good shall always destroy evil.
		-- Sirah the Yang, "The Omega Glory", stardate unknown </p><p> Love America -- or give it back. </p>
<h3>Header 8651</h3>
<p> The relative importance of files depends on their cost in terms of the
human effort needed to regenerate them.
		-- T.A. Dolotta </p><p> Competence, like truth, beauty, and contact lenses, is in the eye of
the beholder.
		-- Dr. Laurence J. Peter </p>
<h3>Header 10077</h3>
<p> Adult, n.:
	One old enough to know better. </p><p> What this country needs is a dime that will buy a good five-cent bagel. </p>
<h3>Header 31094</h3>
<p> By long-standing tradition, I take this opportunity to savage other
designers in the thin disguise of good, clean fun.
		-- P.J. Plauger, "Computer Language", 1988, April
		   Fool's column. </p><p> There is a certain frame of mind to which a cemetery is, if not an antidote,
at least an alleviation.  If you are in a fit of the blues, go nowhere else.
	--Robert Louis Stevenson: Immortelles </p>
<h3>Header 18231</h3>
<p> When license fees are too high,
users do things by hand.
When the management is too intrusive,
users lose their spirit.

Hack for the user's benefit.
Trust them; leave them alone. </p><p> As Gen. de Gaulle occassionally acknowledges America to be the daughter
of Europe, so I am pleased to come to Yale, the daughter of Harvard.
		-- J.F. Kennedy </p>
<h3>Header 471</h3>
<p> People who go to conferences are the ones who shouldn't. </p><p> You can't play your friends like marks, kid.
		-- Henry Gondorf, "The Sting" </p>
<h3>Header 25630</h3>
<p> The sheep died in the wool. </p><p> core error - bus dumped </p>
<h3>Header 6341</h3>
<p> It's better to burn out than to fade away. </p><p> Life is what happens to you while you're busy making other plans.
		-- John Lennon, "Beautiful Boy" </p>
<h3>Header 25088</h3>
<p> The generation of random numbers is too important to be left to chance. </p><p> The truth you speak has no past and no future.  It is, and that's all it
needs to be. </p>
<h3>Header 3701</h3>
<p> He who attacks the fundamentals of the American broadcasting industry
attacks democracy itself.
		-- William S. Paley, chairman of CBS </p><p> When I heated my home with oil, I used an average of 800 gallons a year.  I
have found that I can keep comfortably warm for an entire winter with
slightly over half that quantity of beer.
		-- Dave Barry, "Postpetroleum Guzzler" </p>
<h3>Header 10129</h3>
<p> "I distrust a close-mouthed man.  He generally picks the wrong time to talk 
and says the wrong things.  Talking's something you can't do judiciously, 
unless you keep in practice.  Now, sir, we'll talk if you like.	I'll tell 
you right out, I'm a man who likes talking to a man who likes to talk."
-- Sidney Greenstreet, _The Maltese Falcon_ </p><p> She's the kind of girl who climbed the ladder of success wrong by wrong.
		-- Mae West </p>
<h3>Header 18873</h3>
<p> Soap and education are not as sudden as a massacre, but they are more
deadly in the long run.
		-- Mark Twain </p><p> According to Arkansas law, Section 4761, Pope's Digest:  "No person
shall be permitted under any pretext whatever, to come nearer than
fifty feet of any door or window of any polling room, from the opening
of the polls until the completion of the count and the certification of
the returns." </p>
<h3>Header 10257</h3>
<p> Man's unique agony as a species consists in his perpetual conflict between
the desire to stand out and the need to blend in.
		-- Sydney J. Harris </p><p> "The eleventh commandment was `Thou Shalt Compute' or `Thou Shalt Not
Compute' -- I forget which."
		-- Epigrams in Programming, ACM SIGPLAN Sept. 1982 </p>
<h3>Header 2125</h3>
<p> The Official Colorado State Vegetable is now the "state legislator". </p><p> Indiana is a state dedicated to basketball.  Basketball, soybeans, hogs and
basketball.  Berkeley, needless to say, is not nearly as athletic.  Berkeley
is dedicated to coffee, angst, potholes and coffee.
		-- Carolyn Jones </p>
