<h2>Topic b.2</h2>
<h3>Header 17710</h3>
<p> take forceful action:
	Do something that should have been done a long time ago. </p><p> There is perhaps in every thing of any consequence, secret history, which
it would be amusing to know, could we have it authentically communicated.
		-- James Boswell </p>
<h3>Header 29032</h3>
<p> Common sense and a sense of humor are the same thing, moving at
different speeds.  A sense of humor is just common sense, dancing.
		-- Clive James </p><p> But you who live on dreams, you are better pleased with the sophistical
reasoning and frauds of talkers about great and uncertain matters than
those who speak of certain and natural matters, not of such lofty nature.
		-- Leonardo Da Vinci, "The Codex on the Flight of Birds" </p>
<h3>Header 29877</h3>
<p> (1) X=Y				; Given
(2) X^2=XY			; Multiply both sides by X
(3) X^2-Y^2=XY-Y^2		; Subtract Y^2 from both sides
(4) (X+Y)(X-Y)=Y(X-Y)		; Factor
(5) X+Y=Y			; Cancel out (X-Y) term
(6) 2Y=Y			; Substitute X for Y, by equation 1
(7) 2=1				; Divide both sides by Y
		-- "Omni", proof that 2 equals 1 </p><p> The primary cause of failure in electrical appliances is an expired
warranty.  Often, you can get an appliance running again simply by changing
the warranty expiration date with a 15/64-inch felt-tipped marker.
		-- Dave Barry, "The Taming of the Screw" </p>
<h3>Header 15650</h3>
<p> No woman ever falls in love with a man unless she has a better opinion of
him than he deserves.
		-- Edgar Watson Howe </p><p> Why do we have two eyes?  To watch 3-D movies with. </p>
<h3>Header 12720</h3>
<p> Laughter is the closest distance between two people.
		-- Victor Borge </p><p> All newspaper editorial writers ever do is come down from the hills after
the battle is over and shoot the wounded. </p>
<h3>Header 15584</h3>
<p> Quod erat demonstrandum.
	[Thus it is proven.  For those who wondered WTF QED means.] </p><p> Populus vult decipi.
	[The people like to be deceived.] </p>
<h3>Header 5763</h3>
<p> Above all else -- sky. </p><p> "Never underestimate the power of a small tactical nuclear weapon." </p>
<h3>Header 7059</h3>
<p> Eight was also the Number of Bel-Shamharoth, which was why a sensible wizard
would never mention the number if he could avoid it.  Or you'll be eight
alive, apprentices were jocularly warned.  Bel-Shamharoth was especially
attracted to dabblers in magic who, by being as it were beachcombers on the
shores of the unnatural, were already half-enmeshed in his nets.
Rincewind's room number in his hall of residence had been 7a.  He hadn't
been surprised.
		-- Terry Pratchett, "The Sending of Eight" </p><p> If you go out of your mind, do it quietly, so as not to disturb those
around you. </p>
<h3>Header 24129</h3>
<p> Beware the new TTY code! </p><p> Life is like an onion: you peel it off one layer at a time, and sometimes
you weep.
		-- Carl Sandburg </p>
<h3>Header 4882</h3>
<p> Subtlety is the art of saying what you think and getting out of the way
before it is understood. </p><p> Measure with a micrometer.  Mark with chalk.  Cut with an axe. </p>
<h3>Header 1416</h3>
<p> 		The Worst Lines of Verse
For a start, we can rule out James Grainger's promising line:
	"Come, muse, let us sing of rats."
Grainger (1721-67) did not have the courage of his convictions and deleted
these words on discovering that his listeners dissolved into spontaneous
laughter the instant they were read out.
	No such reluctance afflicted Adam Lindsay Gordon (1833-70) who was
inspired by the subject of war.
	"Flash! flash! bang! bang! and we blazed away,
	And the grey roof reddened and rang;
	Flash! flash! and I felt his bullet flay
	The tip of my ear.  Flash! bang!"
By contrast, Cheshire cheese provoked John Armstrong (1709-79):
	"... that which Cestria sends, tenacious paste of solid milk..."
While John Bidlake was guided by a compassion for vegetables:
	"The sluggard carrot sleeps his day in bed,
	The crippled pea alone that cannot stand."
George Crabbe (1754-1832) wrote:
	"And I was ask'd and authorized to go
	To seek the firm of Clutterbuck and Co."
William Balmford explored the possibilities of religious verse:
	"So 'tis with Christians, Nature being weak
	While in this world, are liable to leak."
And William Wordsworth showed that he could do it if he really tried when
describing a pond:
	"I've measured it from side to side;
	Tis three feet long and two feet wide."
		-- Stephen Pile, "The Book of Heroic Failures" </p><p> On a clear disk you can seek forever. </p>
<h3>Header 22199</h3>
<p> The first version always gets thrown away. </p><p> If ignorance is bliss, why aren't there more happy people? </p>
<h3>Header 16457</h3>
<p> First Rule of History:
	History doesn't repeat itself -- historians merely repeat each other. </p><p> Keep a diary and one day it'll keep you.
		-- Mae West </p>
<h3>Header 8886</h3>
<p> It's so confusing choosing sides in the heat of the moment,
	just to see if it's real,
Oooh, it's so erotic having you tell me how it should feel,
But I'm avoiding all the hard cold facts that I got to face,
So ask me just one question when this magic night is through,
Could it have been just anyone or did it have to be you?
		-- Billy Joel, "Glass Houses" </p><p> Seems that a pollster was taking a worldwide opinion poll.
Her question was, "Excuse me; what's your opinion on the meat shortage?"

In Texas, the answer was "What's a shortage?"
In Poland, the answer was "What's meat?"
In the Soviet Union, the answer was "What's an opinion?"
In New York City, the answer was "What's excuse me?" </p>
<h3>Header 141</h3>
<p> A handful of friends is worth more than a wagon of gold. </p><p> In Lexington, Kentucky, it's illegal to carry an ice cream cone in your pocket. </p>
<h3>Header 23772</h3>
<p> There's nothing to writing.  All you do is sit at a typewriter and open a vein.
		-- Red Smith </p><p> Pain is a thing of the mind.  The mind can be controlled.
		-- Spock, "Operation -- Annihilate!" stardate 3287.2 </p>
<h3>Header 8855</h3>
<p> "If people are good only because they fear punishment, and hope for reward,
then we are a sorry lot indeed."
-- Albert Einstein </p><p> A Riverside, California, health ordinance states that two persons may
not kiss each other without first wiping their lips with carbolized rosewater. </p>
<h3>Header 6730</h3>
<p> Genuine happiness is when a wife sees a double chin on her husband's
old girl friend. </p><p> I owe, I owe,
It's off to work I go... </p>
