<h2>Topic d.6</h2>
<h3>Header 13591</h3>
<p> I DON'T THINK I'M ALONE when I say I'd like to see more and more planets
fall under the ruthless domination of our solar system.
		-- Jack Handley, The New Mexican, 1988. </p>
<h3>Header 6529</h3>
<p> 	I made it a rule to forbear all direct contradictions to the sentiments
of others, and all positive assertion of my own.  I even forbade myself the use
of every word or expression in the language that imported a fixed opinion, such
as "certainly", "undoubtedly", etc.   I adopted instead of them "I conceive",
"I apprehend", or "I imagine" a thing to be so or so; or "so it appears to me
at present".
	When another asserted something that I thought an error, I denied
myself the pleasure of contradicting him abruptly, and of showing him
immediately some absurdity in his proposition.  In answering I began by
observing that in certain cases or circumstances his opinion would be right,
but in the present case there appeared or semed to me some difference, etc.
	I soon found the advantage of this change in my manner; the
conversations I engaged in went on more pleasantly.  The modest way in which I
proposed my opinions procured them a readier reception and less contradiction.
I had less mortification when I was found to be in the wrong, and I more easily
prevailed with others to give up their mistakes and join with me when I
happened to be in the right.
		-- Autobiography of Benjamin Franklin </p>
<h3>Header 29986</h3>
<p> Many are cold, but few are frozen. </p>
<h3>Header 10714</h3>
<p> Kansas state law requires pedestrians crossing the highways at night to
wear tail lights. </p>
<h3>Header 24668</h3>
<p> "By long-standing tradition, I take this opportunity to savage other
designers in the thin disguise of good, clean fun."
-- P. J. Plauger, from his April Fool's column in April 88's "Computer Language" </p>
<h3>Header 19354</h3>
<p> "No job too big; no fee too big!"
		-- Dr. Peter Venkman, "Ghost-busters" </p>
<h3>Header 29768</h3>
<p> 	I managed to say, "Sorry," and no more.  I knew that he disliked
me to cry.
	This time he said, watching me, "On some occasions it is better
to weep."
	I put my head down on the table and sobbed, "If only she could come
back; I would be nice."
	Francis said, "You gave her great pleasure always."
	"Oh, not enough."
	"Nobody can give anybody enough."
	"Not ever?"
	"No, not ever.  But one must go on trying."
	"And doesn't one ever value people until they are gone?"
	"Rarely," said Francis.  I went on weeping; I saw how little I had
valued him; how little I had valued anything that was mine.
		-- Pamela Frankau, "The Duchess and the Smugs" </p>
