<h2>Topic d.4</h2>
<h3>Header 28438</h3>
<p> When in trouble or in doubt,
run in circles, scream and shout. </p><p> "I'd love to go out with you, but I've been scheduled for a karma transplant." </p>
<h3>Header 14069</h3>
<p> A billion seconds ago Harry Truman was president.
A billion minutes ago was just after the time of Christ.
A billion hours ago man had not yet walked on earth.
A billion dollars ago was late yesterday afternoon at the U.S. Treasury. </p><p> 	During a visit to America, Winston Churchill was invited to a buffet
luncheon at which cold fried chicken was served.  Returning for a second
helping, he asked politely, "May I have some breast?"
	"Mr. Churchill," replied the hostess, "in this country we ask for
white meat or dark meat."  Churchill apologized profusely.
	The following morning, the lady received a magnificent orchid from
her guest of honor.  The accompanying card read: "I would be most obliged if
you would pin this on your white meat." </p>
<h3>Header 8661</h3>
<p> When a man assumes a public trust, he should consider himself as public
property.
		-- Thomas Jefferson </p><p> filibuster, n.:
	Throwing your wait around. </p>
<h3>Header 11268</h3>
<p> Providence, New Jersey, is one of the few cities where Velveeta cheese
appears on the gourmet shelf. </p><p> The idle mind knows not what it is it wants.
		-- Quintus Ennius </p>
<h3>Header 18608</h3>
<p> Do you know the difference between education and experience?  Education
is what you get when you read the fine print; experience is what you get
when you don't.
		-- Pete Seeger </p><p> Now I'm concentrating on a specific tank battle toward the end of World War II! </p>
<h3>Header 20514</h3>
<p> If you're going to do something tonight that you'll be sorry for tomorrow
morning, sleep late.
		-- Henny Youngman </p><p> Savage's Law of Expediency:
	You want it bad, you'll get it bad. </p>
<h3>Header 1424</h3>
<p> Your goose is cooked.
(Your current chick is burned up too!) </p><p> Adapt.  Enjoy.  Survive. </p>
<h3>Header 24956</h3>
<p> Fortune finishes the great quotations, #2

	If at first you don't succeed, think how many people
	you've made happy. </p><p> 	A ranger was walking through the forest and encountered a hunter
carrying a shotgun and a dead loon.  "What in the world do you think you're
doing?  Don't you know that the loon is on the endagered species list?"
	Instead of answering, the hunter showed the ranger his game bag,
which contained twelve more loons.
	"Why would you shoot loons?", the ranger asked.
	"Well, my family eats them and I sell the plumage."
	"What's so special about a loon?  What does it taste like?"
	"Oh, somewhere between an American Bald Eagle and a Trumpeter Swan." </p>
<h3>Header 5951</h3>
<p> I love ROCK 'N ROLL!  I memorized the all WORDS to "WIPE-OUT" in
1965!! </p><p> 	THE LESSER-KNOWN PROGRAMMING LANGUAGES #12: LITHP

This otherwise unremarkable language is distinguished by the absence of
an "S" in its character set; users must substitute "TH".  LITHP is said
to be useful in protheththing lithtth. </p>
<h3>Header 11551</h3>
<p> If all be true that I do think,
There be five reasons why one should drink;
Good friends, good wine, or being dry,
Or lest we should be by-and-by,
Or any other reason why. </p><p> There is nothing so easy but that it becomes difficult when you do it
reluctantly.
		-- Publius Terentius Afer (Terence) </p>
<h3>Header 32413</h3>
<p> Celestial navigation is based on the premise that the Earth is the center
of the universe.  The premise is wrong, but the navigation works.  An
incorrect model can be a useful tool.
		-- Kelvin Throop III </p><p> "A radioactive cat has eighteen half-lives." </p>
<h3>Header 32134</h3>
<p> Recursion is the root of computation since it trades description for time. </p><p> Am I in GRADUATE SCHOOL yet? </p>
<h3>Header 30541</h3>
<p> It looked like something resembling white marble, which was
probably what it was: something resembling white marble.
		-- Douglas Adams, "The Hitchhikers Guide to the Galaxy" </p><p>  U       X
e dUdX, e dX, cosine, secant, tangent, sine, 3.14159... </p>
<h3>Header 31716</h3>
<p> He asked me if I knew what time it was -- I said yes, but not right now.
		-- Steven Wright </p><p> Every absurdity has a champion who will defend it. </p>
<h3>Header 21483</h3>
<p> A man arrived home early to find his wife in the arms of his best friend,
who swore how much they were in love.  To quiet the enraged husband, the
lover suggested, "Friends shouldn't fight, let's play gin rummy.  If I win,
you get a divorce so I can marry her.  If you win, I promise never to see
her again.  Okay?"

"Alright," agreed the husband.  "But how about a quarter a point
on the side to make it interesting?" </p><p> A man was kneeling by a grave in a cemetery, crying and praying very loudly,
	"Oh why..eeeee did you die...eeeeee, Oh Why..eeeeee,
why did you Di......eeee"
The caretaker walks up, pardons himself and asks politely,
	"Excuse me, sir, but I've been seeing you for hours now,
carrying on at this grave.  You must have been very close to the deceased."
	"No, I never met him.  Oh why....eeeee did you dieeeeee,
why....eeeee did you.."
	"Sir, you say you never met this person, yet you carry on so?
Tell, me who is buried here?"
	"My wife's first husband." </p>
<h3>Header 6529</h3>
<p> God rest ye CS students now,		The bearings on the drum are gone,
Let nothing you dismay.			The disk is wobbling, too.
The VAX is down and won't be up,	We've found a bug in Lisp, and Algol
Until the first of May.			Can't tell false from true.
The program that was due this morn,	And now we find that we can't get
Won't be postponed, they say.		At Berkeley's 4.2.
(chorus)				(chorus)

We've just received a call from DEC,	And now some cheery news for you,
They'll send without delay		The network's also dead,
A monitor called RSuX			We'll have to print your files on
It takes nine hundred K.		The line printer instead.
The staff committed suicide,		The turnaround time's nineteen weeks.
We'll bury them today.			And only cards are read.
(chorus)				(chorus)

And now we'd like to say to you		CHORUS:	Oh, tidings of comfort and joy,
Before we go away,				Comfort and joy,
We hope the news we've brought to you		Oh, tidings of comfort and joy.
Won't ruin your whole day.
You've got another program due, tomorrow, by the way.
(chorus)
		-- to God Rest Ye Merry Gentlemen </p><p> Language is a virus from another planet.
	-- William Burroughs </p>
<h3>Header 1285</h3>
<p> You love peace. </p><p> clairvoyant, n.:
	A person, commonly a woman, who has the power of seeing that
	which is invisible to her patron -- namely, that he is a blockhead.
		-- Ambrose Bierce, "The Devil's Dictionary" </p>
<h3>Header 16918</h3>
<p> We don't really understand it, so we'll give it to the programmers. </p><p> Men use thought only to justify their wrong doings, and speech only to
conceal their thoughts.
		-- Voltaire </p>
<h3>Header 21404</h3>
<p> No man would listen to you talk if he didn't know it was his turn next.
		-- E.W. Howe </p><p> Never let your sense of morals prevent you from doing what is right.
		-- Salvor Hardin, "Foundation" </p>
<h3>Header 25615</h3>
<p> Gloffing is a state of mine. </p><p> All that glitters has a high refractive index. </p>
<h3>Header 19557</h3>
<p> No self-made man ever did such a good job that some woman didn't
want to make some alterations.
		-- Kim Hubbard </p><p> The law will never make men free; it is men who have got to make the law free.
		-- Henry David Thoreau </p>
<h3>Header 2799</h3>
<p> >Ever heard of .cshrc?
That's a city in Bosnia.  Right?
(Discussion in comp.os.linux.misc on the intuitiveness of commands.) </p><p> New England Life, of course.  Why do you ask? </p>
<h3>Header 25707</h3>
<p> Sho' they got to have it against the law.  Shoot, ever'body git high,
they wouldn't be nobody git up and feed the chickens.  Hee-hee.
		-- Terry Southern </p><p> Never tell a lie unless it is absolutely convenient. </p>
<h3>Header 23723</h3>
<p> One reason why George Washington
Is held in such veneration:
He never blamed his problems
On the former Administration.
		-- George O. Ludcke </p><p> Ah say, son, you're about as sharp as a bowlin' ball. </p>
<h3>Header 30340</h3>
<p> Science and religion are in full accord but science and faith are in complete
discord. </p><p> Smartness runs in my family.  When I went to school I was so smart my
teacher was in my class for five years.
		-- George Burns </p>
<h3>Header 23035</h3>
<p> There is no substitute for good manners, except, perhaps, fast reflexes. </p><p> You possess a mind not merely twisted, but actually sprained. </p>
<h3>Header 654</h3>
<p> IV. The time required for an object to fall twenty stories is greater than or
    equal to the time it takes for whoever knocked it off the ledge to
    spiral down twenty flights to attempt to capture it unbroken.
	Such an object is inevitably priceless, the attempt to capture it
	inevitably unsuccessful.
 V. All principles of gravity are negated by fear.
	Psychic forces are sufficient in most bodies for a shock to propel
	them directly away from the earth's surface.  A spooky noise or an
	adversary's signature sound will induce motion upward, usually to
	the cradle of a chandelier, a treetop, or the crest of a flagpole.
	The feet of a character who is running or the wheels of a speeding
	auto need never touch the ground, especially when in flight.
VI. As speed increases, objects can be in several places at once.
	This is particularly true of tooth-and-claw fights, in which a
	character's head may be glimpsed emerging from the cloud of
	altercation at several places simultaneously.  This effect is common
	as well among bodies that are spinning or being throttled.  A "wacky"
	character has the option of self-replication only at manic high
	speeds and may ricochet off walls to achieve the velocity required.
		-- Esquire, "O'Donnell's Laws of Cartoon Motion", June 1980 </p><p> If God had intended Man to Watch TV, He would have given him Rabbit Ears. </p>
<h3>Header 19609</h3>
<p> 	A novice programmer was once assigned to code a simple financial
package.
	The novice worked furiously for many days, but when his master
reviewed his program, he discovered that it contained a screen editor, a set
of generalized graphics routines, and artificial intelligence interface,
but not the slightest mention of anything financial.
	When the master asked about this, the novice became indignant.
"Don't be so impatient," he said, "I'll put the financial stuff in eventually."
		-- Geoffrey James, "The Tao of Programming" </p><p> Always look over your shoulder because everyone is watching and plotting
against you. </p>
<h3>Header 27394</h3>
<p> He who makes a beast of himself gets rid of the pain of being a man.
		-- Dr. Johnson </p><p> Appendix:
	A portion of a book, for which nobody yet has discovered any use. </p>
