<h2>Topic b.4</h2>
<h3>Header 20754</h3>
<p> Nothing in life is so exhilarating as to be shot at without result.
		-- Winston Churchill

Next to being shot at and missed, nothing is really quite as
satisfying as an income tax refund.
		-- F.J. Raymond </p><p> Whatever you do will be insignificant, but it is very important that you do it.
		-- Gandhi </p>
<h3>Header 9094</h3>
<p> Last guys don't finish nice.
		-- Stanley Kelley, on the cult of victory at all costs </p><p> Women are wiser than men because they know less and understand more.
		-- Stephens </p>
<h3>Header 18446</h3>
<p> You can always tell the people that are forging the new frontier.
They're the ones with arrows sticking out of their backs. </p><p> "Violence accomplishes nothing."  What a contemptible lie!  Raw, naked
violence has settled more issues throughout history than any other method
ever employed.  Perhaps the city fathers of Carthage could debate the
issue, with Hitler and Alexander as judges? </p>
<h3>Header 3883</h3>
<p> What does "it" mean in the sentence "What time is it?"? </p><p> "Nine years of ballet, asshole."
-- Shelly Long, to the bad guy after making a jump over a gorge that he
   couldn't quite, in "Outrageous Fortune" </p>
<h3>Header 2677</h3>
<p> I have seen the future and it is just like the present, only longer.
		-- Kehlog Albran, "The Profit" </p><p> One man's constant is another man's variable.
		-- A.J. Perlis </p>
<h3>Header 3475</h3>
<p> I saw what you did and I know who you are. </p><p> Absence in love is like water upon fire; a little quickens, but much
extinguishes it.
		-- Hannah More </p>
<h3>Header 21048</h3>
<p> "Perhaps I am flogging a straw herring in mid-stream, but in the light of
what is known about the ubiquity of security vulnerabilities, it seems vastly
too dangerous for university folks to run with their heads in the sand."
-- Peter G. Neumann, RISKS moderator, about the Internet virus </p><p> For three years, the young attorney had been taking his brief
vacations at this country inn.  The last time he'd finally managed an
affair with the innkeeper's daughter.  Looking forward to an exciting
few days, he dragged his suitcase up the stairs of the inn, then stopped
short.  There sat his lover with an infant on her lap!
	"Helen, why didn't you write when you learned you were pregnant?"
he cried.  "I would have rushed up here, we could have gotten married,
and the baby would have my name!"
	"Well," she said, "when my folks found out about my condition,
we sat up all night talkin' and talkin' and finally decided it would be
better to have a bastard in the family than a lawyer." </p>
<h3>Header 24288</h3>
<p> OS/2 must die! </p><p> The sooner you make your first 5000 mistakes, the sooner you will be
able to correct them.
		-- Nicolaides </p>
<h3>Header 28603</h3>
<p> A new supply of round tuits has arrived and are available from Mary.
Anyone who has been putting off work until they got a round tuit now
has no excuse for further procrastination. </p><p> Once you've tried to change the world you find it's a whole bunch easier
to change your mind. </p>
<h3>Header 30726</h3>
<p> The aim of science is to seek the simplest explanations of complex
facts.  Seek simplicity and distrust it.
		-- Whitehead. </p><p> Are you still an ALCOHOLIC? </p>
<h3>Header 4813</h3>
<p> I don't need no arms around me...
I don't need no drugs to calm me...
I have seen the writing on the wall.
Don't think I need anything at all.
No!  Don't think I need anything at all!
All in all, it was all just bricks in the wall.
All in all, it was all just bricks in the wall.
		-- Pink Floyd, "Another Brick in the Wall", Part III </p><p> I'm in direct contact with many advanced fun CONCEPTS. </p>
<h3>Header 1717</h3>
<p> If God had intended Man to Smoke, He would have set him on Fire. </p><p> Now there's three things you can do in a baseball game: you can win
or you can lose or it can rain.
		-- Casey Stengel </p>
<h3>Header 27111</h3>
<p> Literature is mostly about having sex and not much about having children.
Life is the other way around.
		-- David Lodge, "The British Museum is Falling Down" </p><p> You can never trust a woman; she may be true to you. </p>
<h3>Header 32076</h3>
<p> Seeing is believing.  You wouldn't have seen it if you hadn't believed it. </p><p> Never tell.  Not if you love your wife ... In fact, if your old lady walks
in on you, deny it.  Yeah.  Just flat out and she'll believe it: "I'm
tellin' ya.  This chick came downstairs with a sign around her neck `Lay
On Top Of Me Or I'll Die'.  I didn't know what I was gonna do..."
		-- Lenny Bruce </p>
<h3>Header 14468</h3>
<p> If you wish to live wisely, ignore sayings -- including this one. </p><p> Tyger, Tyger, burning bright		Where the hammer?  Where the chain?
In the forests of the night,		In what furnace was thy brain?
What immortal hand or eye		What the anvil?  What dread grasp
Dare frame thy fearful symmetry?	Dare its deadly terrors clasp?

Burnt in distant deeps or skies		When the stars threw down their spears
The cruel fire of thine eyes?		And water'd heaven with their tears
On what wings dare he aspire?		Dare he laugh his work to see?
What the hand dare seize the fire?	Dare he who made the lamb make thee?

And what shoulder & what art		Tyger, Tyger, burning bright
Could twist the sinews of they heart?	In the forests of the night,
And when thy heart began to beat	What immortal hand or eye
What dread hand & what dread feet	Dare frame thy fearful symmetry?

Could fetch it from the furnace deep
And in thy horrid ribs dare steep
In the well of sanguine woe?
In what clay & in what mould
Were thy eyes of fury roll'd?
		-- William Blake, "The Tyger" </p>
<h3>Header 26968</h3>
<p> I use not only all the brains I have, but all those I can borrow as well.
		-- Woodrow Wilson </p><p> Help fight continental drift. </p>
<h3>Header 16642</h3>
<p> "The way of the world is to praise dead saints and prosecute live ones."
 -- Nathaniel Howe </p><p> "And the next time you consider complaining that running Lucid Emacs
19.05 via NFS from a remote Linux machine in Paraguay doesn't seem to
get the background colors right, you'll know who to thank."
(By Matt Welsh) </p>
<h3>Header 429</h3>
<p> Symptom:		Everything has gone dark.
Fault:			The Bar is closing.
Action Required:	Panic.

Symptom:		You awaken to find your bed hard, cold and wet.
			You cannot see the bathroom light.
Fault:			You have spent the night in the gutter.
Action Required:	Check your watch to see if bars are open yet.  If not,
			treat yourself to a lie-in.
		-- Bar Troubleshooting </p><p> Excerpt from a conversation between a customer support person and a
customer working for a well-known military-affiliated research lab:

Support:  "You're not our only customer, you know."
Customer: "But we're one of the few with tactical nuclear weapons." </p>
<h3>Header 13443</h3>
<p> When you meet a master swordsman,
show him your sword.
When you meet a man who is not a poet,
do not show him your poem.
		-- Rinzai, ninth century Zen master </p><p> Facts do not cease to exist because they are ignored.
		-- Aldous Huxley </p>
<h3>Header 2070</h3>
<p> Now I'm being INVOLUNTARILY shuffled closer to the CLAM DIP with the
BROKEN PLASTIC FORKS in it!! </p><p> I'm young ... I'm HEALTHY ... I can HIKE THRU CAPT GROGAN'S LUMBAR REGIONS! </p>
<h3>Header 31981</h3>
<p> All programmers are playwrights and all computers are lousy actors. </p><p> If you can't get your work done in the first 24 hours, work nights. </p>
