<h2>Topic e.3</h2>
<h3>Header 27850</h3>
<p> Support the Girl Scouts!
	(Today's Brownie is tomorrow's Cookie!) </p><p> Tip of the Day:
	Never fry bacon in the nude.

	[Correction: always fry bacon in the nude; you'll learn not to burn it] </p>
<h3>Header 17292</h3>
<p> Sentient plasmoids are a gas. </p><p> When the leaders speak of peace
The common folk know
That war is coming
When the leaders curse war
The mobilization order is already written out.

Every day, to earn my daily bread
I go to the market where lies are bought
Hopefully
I take my place among the sellers.
		-- Bertolt Brecht, "Hollywood" </p>
<h3>Header 9644</h3>
<p> The only really good place to buy lumber is at a store where the lumber has
already been cut and attached together in the form of furniture, finished,
and put inside boxes.
		-- Dave Barry, "The Taming of the Screw" </p><p> 			HOW TO PROVE IT, PART 7
proof by forward reference:
	Reference is usually to a forthcoming paper of the author, 
	which is often not as forthcoming as at first.

proof by semantic shift:
	Some of the standard but inconvenient definitions are changed 
	for the statement of the result.

proof by appeal to intuition:
	Cloud-shaped drawings frequently help here. </p>
<h3>Header 30558</h3>
<p> 3rd Law of Computing:
	Anything that can go wr
fortune: Segmentation violation -- Core dumped </p><p> Yea from the table of my memory
I'll wipe away all trivial fond records.
		-- Hamlet </p>
<h3>Header 27343</h3>
<p> The best diplomat I know is a fully activated phaser bank.
		-- Scotty </p><p> The trouble with opportunity is that it always comes disguised as hard work.
		-- Herbert V. Prochnow </p>
<h3>Header 24136</h3>
<p> This is a test of the emergency broadcast system.  Had there been an
actual emergency, then you would no longer be here. </p><p> No man's ambition has a right to stand in the way of performing a simple
act of justice.
		-- John Altgeld </p>
<h3>Header 24838</h3>
<p> Boy, get your head out of the stars above,
You get the maximum pleasure from a minimum of love.
Save your heart and let your body be enough,
To get the maximum pleasure from a minimum of love.
Save your heart and let your body be enough,
And get the maximum pleasure from a minimum of love.
		-- Mac Macinelli, "Minimum Love" </p><p> To be who one is, is not to be someone else. </p>
<h3>Header 32251</h3>
<p> "Those who do not do politics will be done in by politics."
		-- French Proverb </p><p> Hale Mail Rule, The:
	When you are ready to reply to a letter, you will lack at least
	one of the following:
		(a) A pen or pencil or typewriter.
		(b) Stationery.
		(c) Postage stamp.
		(d) The letter you are answering. </p>
<h3>Header 8157</h3>
<p> Air pollution is really making us pay through the nose. </p><p> God help the troubadour who tries to be a star.  The more that you try
to find success, the more that you will fail.
		-- Phil Ochs, on the Second System Effect </p>
<h3>Header 1577</h3>
<p> Although golf was originally restricted to wealthy, overweight Protestants,
today it's open to anybody who owns hideous clothing.
		-- Dave Barry </p><p> The primary function of the design engineer is to make things
difficult for the fabricator and impossible for the serviceman. </p>
<h3>Header 31350</h3>
<p> "Obedience.  A religion of slaves.  A religion of intellectual death.  I like
it.  Don't ask questions, don't think, obey the Word of the Lord -- as it
has been conveniently brought to you by a man in a Rolls with a heavy Rolex
on his wrist.  I like that job!  Where can I sign up?"
-- Oleg Kiselev,oleg@CS.UCLA.EDU </p><p> Toothpaste never hurts the taste of good scotch. </p>
<h3>Header 6115</h3>
<p> Beauty is one of the rare things which does not lead to doubt of God.
		-- Jean Anouilh </p><p> 	It seems these two guys, George and Harry, set out in a Hot Air
balloon to cross the United States.  After forty hours in the air, George
turned to Harry, and said, "Harry, I think we've drifted off course!  We
need to find out where we are."
	Harry cools the air in the balloon, and they descend to below the
cloud cover.  Slowly drifting over the countryside, George spots a man
standing below them and yells out, "Excuse me!  Can you please tell me
where we are?"
	The man on the ground yells back, "You're in a balloon, approximately
fifty feet in the air!"
	George turns to Harry and says, "Well, that man *must* be a lawyer".
	Replies Harry, "How can you tell?".
	"Because the information he gave us is 100% accurate, and totally
useless!"

That's the end of The Joke, but for you people who are still worried about
George and Harry: they end up in the drink, and make the front page of the
New York Times: "Balloonists Soaked by Lawyer". </p>
<h3>Header 24204</h3>
<p> Edwin Meese made me wear CORDOVANS!! </p><p> It is better to never have tried anything than to have tried something and
failed.
- motto of jerks, weenies and losers everywhere </p>
<h3>Header 29792</h3>
<p> Q:	Why does Washington have the most lawyers per capita and
	New Jersey the most toxic waste dumps?
A:	God gave New Jersey first choice. </p><p> "Home life as we understand it is no more natural to us than a cage is to a 
cockatoo."
-- George Bernard Shaw </p>
<h3>Header 29887</h3>
<p> "Life is like a buffet; it's not good but there's plenty of it." </p><p> If I were to walk on water, the press would say I'm only doing it
because I can't swim.
		-- Bob Stanfield </p>
<h3>Header 12115</h3>
<p> "Remember, extremism in the nondefense of moderation is not a virtue."
-- Peter Neumann, about usenet </p><p> On Thanksgiving Day all over America, families sit down to dinner at the
same moment -- halftime. </p>
<h3>Header 5254</h3>
<p> take forceful action:
	Do something that should have been done a long time ago. </p><p> Avoid gunfire in the bathroom tonight. </p>
<h3>Header 196</h3>
<p> Drunks are rarely amusing unless they know some good songs and lose a
lot a poker.
		-- Karyl Roosevelt </p><p> I knew her before she was a virgin.
		-- Oscar Levant, on Doris Day </p>
<h3>Header 21594</h3>
<p> Pray:  To ask that the laws of the universe be annulled in behalf of a single
petitioner confessedly unworthy.
-- Ambrose Bierce </p><p> Q:	What do you call a half-dozen Indians with Asian flu?
A:	Six sick Sikhs (sic). </p>
<h3>Header 29260</h3>
<p> Never insult an alligator until you've crossed the river. </p><p> Why my thoughts are my own, when they are in, but when they are out they
are another's.
		 -- Susanna Martin, executed for witchcraft, 1681 </p>
<h3>Header 31572</h3>
<p> I've always felt sorry for people that don't drink -- remember,
when they wake up, that's as good as they're gonna feel all day! </p><p> "Arguments with furniture are rarely productive."
		-- Kehlog Albran, "The Profit" </p>
<h3>Header 27680</h3>
<p> Charity, n.:
	A thing that begins at home and usually stays there. </p><p> Proper treatment will cure a cold in seven days, but left to itself,
a cold will hang on for a week.
		-- Darrell Huff </p>
<h3>Header 15706</h3>
<p> Beware of the man who knows the answer before he understands the question. </p><p> LOOK!!  Sullen American teens wearing MADRAS shorts and "Flock of
Seagulls" HAIRCUTS! </p>
<h3>Header 31265</h3>
<p> That woman speaks eight languages and can't say "no" in any of them.
		-- Dorothy Parker </p><p> A list is only as strong as its weakest link.
		-- Don Knuth </p>
<h3>Header 8923</h3>
<p> If elected, Zippy pledges to each and every American a 55-year-old houseboy ... </p><p> The Worst American Poet
	Julia Moore, "the Sweet Singer of Michigan" (1847-1920) was so bad that
Mark Twain said her first book gave him joy for 20 years.
	Her verse was mainly concerned with violent death -- the great fire
of Chicago and the yellow fever epidemic proved natural subjects for her pen.
	Whether death was by drowning, by fits or by runaway sleigh, the
formula was the same:
		Have you heard of the dreadful fate
		Of Mr. P.P. Bliss and wife?
		Of their death I will relate,
		And also others lost their life
		(in the) Ashbula Bridge disaster,
		Where so many people died.
	Even if you started out reasonably healthy in one of Julia's poems,
the chances are that after a few stanzas you would be at the bottom of a
river or struck by lightning.  A critic of the day said she was "worse than
a Gatling gun" and in one slim volume counted 21 killed and 9 wounded.
	Incredibly, some newspapers were critical of her work, even
suggesting that the sweet singer was "semi-literate".  Her reply was
forthright: "The Editors that has spoken in this scandalous manner have went
beyond reason."  She added that "literary work is very difficult to do".
		-- Stephen Pile, "The Book of Heroic Failures" </p>
<h3>Header 4367</h3>
<p> James Joyce -- an essentially private man who wished his total
indifference to public notice to be universally recognized.
		-- Tom Stoppard </p><p> Mr. Cole's Axiom:
	The sum of the intelligence on the planet is a constant;
	the population is growing. </p>
<h3>Header 10144</h3>
<p> I'd be a poorer man if I'd never seen an eagle fly.
		-- John Denver

[I saw an eagle fly once.  Fortunately, I had my eagle fly swatter handy.  Ed.] </p><p> A hacker does for love what others would not do for money. </p>
<h3>Header 12288</h3>
<p> Flattery is like cologne -- to be smelled, but not swallowed.
		-- Josh Billings </p><p> If we all work together, we can totally disrupt the system. </p>
