<h2>Topic e.5</h2>
<h3>Header 10858</h3>
<p> Things will be bright in P.M.  A cop will shine a light in your face. </p><p> A would-be disciple came to Nasrudin's hut on the mountain-side.  Knowing
that every action of such an enlightened one is significant, the seeker
watched the teacher closely.  "Why do you blow on your hands?"  "To warm
myself in the cold."  Later, Nasrudin poured bowls of hot soup for himself
and the newcomer, and blew on his own.  "Why are you doing that, Master?"
"To cool the soup."  Unable to trust a man who uses the same process
to arrive at two different results -- hot and cold -- the disciple departed. </p>
<h3>Header 13994</h3>
<p> An economist is a man who would marry Farrah Fawcett-Majors for her money. </p><p> Your sister swims out to meet troop ships. </p>
<h3>Header 25963</h3>
<p> Cheap things are of no value, valuable things are not cheap. </p><p> Brillineggiava, ed i tovoli slati
	girlavano ghimbanti nella vaba;
i borogovi eran tutti mimanti
	e la moma radeva fuorigraba.

"Figliuolo mio, sta' attento al Gibrovacco,
	dagli artigli e dal morso lacerante;
fuggi l'uccello Giuggiolo, e nel sacco
	metti infine il frumioso Bandifante".
		-- Lewis Carroll, "Jabberwocky" </p>
<h3>Header 28843</h3>
<p> Fortune finishes the great quotations, #12

	Those who can, do.  Those who can't, write the instructions. </p><p> Most people don't need a great deal of love nearly so much as they need
a steady supply. </p>
<h3>Header 2098</h3>
<p> A beginning is the time for taking the most delicate care that balances are
correct.
		-- Princess Irulan, "Manual of Maud'Dib" </p><p> Regarding astral projection, Woody Allen once wrote, "This is not a bad way
to travel, although there is usually a half-hour wait for luggage." </p>
<h3>Header 19452</h3>
<p> 	"What shall we do?" said Twoflower.
	"Panic?" said Rincewind hopefully.  He always held that panic was
the best means of survival; back in the olden days, his theory went, people
faced with hungry sabretoothed tigers could be divided very simply into
those who panicked and those who stood there saying "What a magnificent
brute!" and "Here, pussy."
		-- Terry Pratchett, "The Light Fantastic" </p><p> Sank heaven for leetle curls. </p>
<h3>Header 19440</h3>
<p> After a time, you may find that "having" is not so pleasing a thing,
after all, as "wanting."  It is not logical, but it is often true.
		-- Spock, "Amok Time", stardate 3372.7 </p><p> Did you know that clones never use mirrors?
		-- Ambrose Bierce, "The Devil's Dictionary" </p>
<h3>Header 5072</h3>
<p> Humor in the Court:
Q: So, after the anesthesia, when you came out of it, what did you observe
   with respect to your scalp?
A: I didn't see my scalp the whole time I was in the hospital.
Q: It was covered?
A: Yes, bandaged.
Q: Then, later on.. what did you see?
A: I had a skin graft. My whole buttocks and leg were removed and put on top
   of my head. </p><p> Regression analysis:
	Mathematical techniques for trying to understand why things are
	getting worse. </p>
<h3>Header 20326</h3>
<p> Remember, there's a big difference between kneeling down and bending over.
- Frank Zappa </p><p> "We demand rigidly defined areas of doubt and uncertainty!"
		-- Vroomfondel </p>
<h3>Header 18609</h3>
<p> "I go on working for the same reason a hen goes on laying eggs."
- H. L. Mencken </p><p> The one charm of marriage is that it makes a life of deception a neccessity.
		-- Oscar Wilde </p>
<h3>Header 5149</h3>
<p> critic, n.:
	A person who boasts himself hard to please because nobody tries
	to please him.
		-- Ambrose Bierce, "The Devil's Dictionary" </p><p> Your password is pitifully obvious. </p>
