<h2>Topic d.5</h2>
<h3>Header 4202</h3>
<p> Without coffee he could not work, or at least he could not have worked in the
way he did.  In addition to paper and pens, he took with him everywhere as an
indispensable article of equipment the coffee machine, which was no less
important to him than his table or his white robe.
- Stefan Zweigs, Biography of Balzac </p><p> The moss on the tree does not fear the talons of the hawk. </p>
<h3>Header 16898</h3>
<p> What's done to children, they will do to society. </p><p> I've never been drunk, but often I've been overserved.
		-- George Gobel </p>
<h3>Header 6706</h3>
<p> "If Jesus came back today, and saw what was going on in his name, he'd never 
stop throwing up."
-- Max Von Sydow's character in "Hannah and Her Sisters" </p><p> I once decorated my apartment entirely in ten foot salad forks!! </p>
<h3>Header 29994</h3>
<p> If everybody minded their own business, the world would go around a deal faster.
		-- The Duchess, "Through the Looking Glass" </p><p> "Plan to throw one away.  You will anyway."
- Fred Brooks, "The Mythical Man Month" </p>
<h3>Header 16038</h3>
<p> Punishment becomes ineffective after a certain point.  Men become insensitive.
		-- Eneg, "Patterns of Force", stardate 2534.7 </p><p> 3rd Law of Computing:
	Anything that can go wr
fortune: Segmentation violation -- Core dumped </p>
