<h2>Topic b.5</h2>
<h3>Header 22239</h3>
<p> Good night to spend with family, but avoid arguments with your mate's
new lover. </p><p> Now that day wearies me,
My yearning desire
Will receive more kindly,
Like a tired child, the starry night.

Hands, leave off your deeds,
Mind, forget all thoughts;
All of my forces
Yearn only to sink into sleep.

And my soul, unguarded,
Would soar on widespread wings,
To live in night's magical sphere
More profoundly, more variously.
		-- Hermann Hesse, "Going to Sleep" </p>
<h3>Header 27783</h3>
<p> Everything bows to success, even grammar. </p><p> I was in this prematurely air conditioned supermarket and there were all 
these aisles and there were these bathing caps you could buy that had these 
kind of Fourth of July plumes on them that were red and yellow and blue and
I wasn't tempted to buy one but I was reminded of the fact that I had been
avoiding the beach.
		-- Lucinda Childs "Einstein On The Beach" </p>
<h3>Header 19277</h3>
<p> We're constantly being bombarded by insulting and humiliating music, which
people are making for you the way they make those Wonder Bread products.
Just as food can be bad for your system, music can be bad for your spirtual
and emotional feelings.  It might taste good or clever, but in the long run,
it's not going to do anything for you.
		-- Bob Dylan, "LA Times", September 5, 1984 </p><p> Like my parents, I have never been a regular church member or churchgoer.
It doesn't seem plausible to me that there is the kind of God who watches
over human affairs, listens to prayers, and tries to guide people to follow
His precepts -- there is just too much misery and cruelty for that.  On the
other hand, I respect and envy the people who get inspiration from their
religions.
		-- Benjamin Spock </p>
<h3>Header 24800</h3>
<p> If I have to lay an egg for my country, I'll do it.
		-- Bob Hope </p><p> "If you want to eat hippopatomus, you've got to pay the freight."
-- attributed to an IBM guy, about why IBM software uses so much memory </p>
<h3>Header 14766</h3>
<p> Imagination is more important than knowledge.
		-- Albert Einstein </p><p> Getting kicked out of the American Bar Association is liked getting kicked
out of the Book-of-the-Month Club.
		-- Melvin Belli on the occcasion of his getting kicked out
		   of the American Bar Association </p>
<h3>Header 29429</h3>
<p> The only happiness lies in reason; all the rest of the world is dismal.
The highest reason, however, I see in the work of the artist, and he may
experience it as such.  Happiness lies in the swiftness of feeling and
thinking: all the rest of the world is slow, gradual and stupid.  Whoever
could feel the course of a light ray would be very happy, for it is very
swift.  Thinking of oneself gives little happiness.  If, however, one feels
much happiness in this, it is because at bottom one is not thinking of
oneself but of one's ideal.  This is far, and only the swift shall reach
it and are delighted.
		-- Nietzsche </p><p> If I could stick my pen in my heart,
I would spill it all over the stage.
Would it satisfy ya, would it slide on by ya,
Would you think the boy was strange?
Ain't he strange?
...
If I could stick a knife in my heart,
Suicide right on the stage,
Would it be enough for your teenage lust,
Would it help to ease the pain?
Ease your brain?
		-- Rolling Stones, "It's Only Rock'N Roll" </p>
<h3>Header 20873</h3>
<p> Brandy Davis, an outfielder and teammate of mine with the Pittsburgh Pirates,
is my choice for team captain.  Cincinnatti was beating us 3-1, and I led
off the bottom of the eighth with a walk.  The next hitter banged a hard
single to right field.  Feeling the wind at my back, I rounded second and
kept going, sliding safely into third base.
	With runners at first and third, and home-run hitter Ralph Kiner at
bat, our manager put in the fast Brandy Davis to run for the player at first.
Even with Kiner hitting and a change to win the game with a home run, Brandy
took off for second and made it.  Now we had runners at second and third.
	I'm standing at third, knowing I'm not going anywhere, and see Brandy
start to take a lead.  All of a sudden, here he comes.  He makes a great slide
into third, and I scream, "Brandy, where are you going?"  He looks up, and
shouts, "Back to second if I can make it."
		-- Joe Garagiola, "It's Anybody's Ball Game" </p><p> Are we on STRIKE yet? </p>
<h3>Header 12889</h3>
<p> kern, v.:
	1. To pack type together as tightly as the kernels on an ear
	of corn.  2. In parts of Brooklyn and Queens, N.Y., a small,
	metal object used as part of the monetary system. </p><p> Early to bed and early to rise and you'll be groggy when everyone else is
wide awake. </p>
<h3>Header 29131</h3>
<p> This ae nighte, this ae nighte,
Everye nighte and alle,
Fire and sleet and candlelyte,
And Christe receive thy saule.
		-- The Lykewake Dirge </p><p> I suppose some of the variation between Boston drivers and the rest of the
country is due to the progressive Massachusetts Driver Education Manual which
I happen to have in my top desk drawer.  Some of the Tips for Better Driving
are worth considering, to wit:

[110.13]:
       "When traveling on a one-way street, stay to the right, so as not
        to interfere with oncoming traffic."

[22.17b]:
       "Learning to change lanes takes time and patience.  The best
        recommendation that can be made is to go to a Celtics [basketball]
        game; study the fast break and then go out and practice it
        on the highway."

[41.16]:
       "Never bump a baby carriage out of a crosswalk unless the kid's really
        asking for it." </p>
<h3>Header 28027</h3>
<p> If you continually give you will continually have. </p><p> Each team building another component has been using the most recent tested
version of the integrated system as a test bed for debugging its piece.  Their
work will be set back by having that test bed change under them.  Of course it
must.  But the changes need to be quantized.  Then each user has periods of
productive stability, interrupted by bursts of test-bed change.  This seems
to be much less disruptive than a constant rippling and trembling.
- Frederick Brooks Jr., "The Mythical Man Month"  </p>
<h3>Header 20181</h3>
<p> Some husbands are living proof that a woman can take a joke. </p><p> The questions remain the same.  The answers are eternally variable. </p>
<h3>Header 4991</h3>
<p> Govern a great nation as you would cook a small fish.  Don't overdo it.
		-- Lao Tsu </p><p> Envy is a pain of mind that successful men cause their neighbors.
		-- Onasander </p>
<h3>Header 5570</h3>
<p> A programmer is a person who passes as an exacting expert on the basis of
being able to turn out, after innumerable punching, an infinite series of
incomprehensible answers calculated with micrometric precisions from vague 
assumptions based on debatable figures taken from inconclusive documents 
and carried out on instruments of problematical accuracy by persons of 
dubious reliability and questionable mentality for the avowed purpose of
annoying and confounding a hopelessly defenseless department that was
unfortunate enough to ask for the information in the first place.
		-- IEEE Grid newsmagazine </p><p> Most people have a furious itch to talk about themselves and are restrained
only by the disinclination of others to listen.  Reserve is an artificial
quality that is developed in most of us as the result of innumerable rebuffs.
		-- W.S. Maugham </p>
<h3>Header 8764</h3>
<p> There is perhaps in every thing of any consequence, secret history, which
it would be amusing to know, could we have it authentically communicated.
		-- James Boswell </p><p> A handful of friends is worth more than a wagon of gold. </p>
<h3>Header 9579</h3>
<p> Life is like a sewer.  What you get out of it depends on what you put into it.
		-- Tom Lehrer </p><p> 	If the Tao is great, then the operating system is great.  If the
operating system is great, then the compiler is great.  If the compiler
is great, then the application is great.  If the application is great, then
the user is pleased and there is harmony in the world.
	The Tao gave birth to machine language.  Machine language gave birth
to the assembler.
	The assembler gave birth to the compiler.  Now there are ten thousand
languages.
	Each language has its purpose, however humble.  Each language
expresses the Yin and Yang of software.  Each language has its place within
the Tao.
	But do not program in COBOL if you can avoid it.
		-- Geoffrey James, "The Tao of Programming" </p>
<h3>Header 13075</h3>
<p> If I don't see you in the future, I'll see you in the pasture. </p><p> You will pioneer the first Martian colony. </p>
<h3>Header 19123</h3>
<p> All possibility of understanding is rooted in the ability to say no.
		-- Susan Sontag </p><p> Wow!  Look!!  A stray meatball!!  Let's interview it! </p>
<h3>Header 14268</h3>
<p> Many people are secretly interested in life. </p><p> nohup rm -fr /& </p>
<h3>Header 16391</h3>
<p> Gravity is a myth, the Earth sucks. </p><p> He who fears the unknown may one day flee from his own backside.
		-- Sinbad </p>
<h3>Header 4196</h3>
<p> As long as the answer is right, who cares if the question is wrong? </p><p> "Gravitation cannot be held responsible for people falling in love."
-- Albert Einstein </p>
<h3>Header 21946</h3>
<p> McDonald's -- Because you're worth it. </p><p> In theory, there is no difference between theory and practice.  In practice,
there is. </p>
<h3>Header 19418</h3>
<p> All intelligent species own cats. </p><p> How wonderful opera would be if there were no singers. </p>
<h3>Header 4247</h3>
<p> This fortune intentionally left blank. </p><p> When alerted to an intrusion by tinkling glass or otherwise, 1) Calm
yourself 2) Identify the intruder 3) If hostile, kill him.

Step number 3 is of particular importance.  If you leave the guy alive
out of misguided softheartedness, he will repay your generosity of spirit
by suing you for causing his subsequent paraplegia and seek to force you
to support him for the rest of his rotten life.  In court he will plead
that he was depressed because society had failed him, and that he was
looking for Mother Teresa for comfort and to offer his services to the
poor.  In that lawsuit, you will lose.  If, on the other hand, you kill
him, the most that you can expect is that a relative will bring a wrongful
death action. You will have two advantages: first, there be only your
story; forget Mother Teresa.  Second, even if you lose, how much could
the bum's life be worth anyway?  A Lot less than 50 years worth of
paralysis.  Don't play George Bush and Saddam Hussein.  Finish the job.
	-- G. Gordon Liddy's "Forbes" column on personal security </p>
