<h2>Topic d.3</h2>
<h3>Header 26305</h3>
<p> I used to have a drinking problem.  Now I love the stuff. </p><p> ink, n.:
	A villainous compound of tannogallate of iron, gum-arabic,
	and water, chiefly used to facilitate the infection of
	idiocy and promote intellectual crime.
		-- H.L. Mencken </p>
<h3>Header 16373</h3>
<p> There is hardly a thing in the world that some man can not make a little
worse and sell a little cheaper. </p><p> Don't drink when you drive -- you might hit a bump and spill it. </p>
<h3>Header 11203</h3>
<p> "Any medium powerful enough to extend man's reach is powerful enough to topple
his world.  To get the medium's magic to work for one's aims rather than
against them is to attain literacy."
-- Alan Kay, "Computer Software", Scientific American, September 1984 </p><p> Life is the living you do, Death is the living you don't do.
		-- Joseph Pintauro </p>
<h3>Header 7170</h3>
<p> ONE:    I will donate my entire "BABY HUEY" comic book collection to
	the downtown PLASMA CENTER ...
TWO:	I won't START a BAND called "KHADAFY & THE HIT SQUAD" ...
THREE:	I won't ever TUMBLE DRY my FOX TERRIER again!! </p><p> He is now rising from affluence to poverty.
		-- Mark Twain </p>
<h3>Header 19310</h3>
<p> My love, he's mad, and my love, he's fleet,
	And a wild young wood-thing bore him!
The ways are fair to his roaming feet,
	And the skies are sunlit for him.
As sharply sweet to my heart he seems
	As the fragrance of acacia.
My own dear love, he is all my dreams --
	And I wish he were in Asia.
		-- Dorothy Parker, part 2 </p><p> Kansas state law requires pedestrians crossing the highways at night to
wear tail lights. </p>
<h3>Header 19797</h3>
<p> There can be no daily democracy without daily citizenship.
		-- Ralph Nader </p><p> Concerning the war in Vietnam, Senator George Aiken of Vermount noted
in January, 1966, "I'm not very keen for doves or hawks.  I think we need
more owls."
		-- Bill Adler, "The Washington Wits" </p>
<h3>Header 14049</h3>
<p> "I'd love to go out with you, but it's my parakeet's bowling night." </p><p> We don't care how they do it in New York. </p>
<h3>Header 3816</h3>
<p> "I'm not stupid, I'm not expendable, and I'M NOT GOING!" </p><p> A kind of Batman of contemporary letters.
		-- Philip Larkin on Anthony Burgess </p>
<h3>Header 13841</h3>
<p> Wear me as a seal upon your heart, as a seal upon your arm; for love is strong
as death, passion cruel as the grave; it blazes up like blazing fire, fiercer
than any flame.
[Song of Solomon 8:6 (NEB)] </p><p> "Arguments with furniture are rarely productive."
		-- Kehlog Albran, "The Profit" </p>
<h3>Header 10754</h3>
<p> When Marriage is Outlawed, Only Outlaws will have Inlaws. </p><p> Q:	How many IBM types does it take to change a light bulb?
A:	Fifteen.  One to do it, and fourteen to write document number
	GC7500439-0001, Multitasking Incandescent Source System Facility,
	of which 10% of the pages state only "This page intentionally
	left blank", and 20% of the definitions are of the form "A:.....
	consists of sequences of non-blank characters separated by blanks". </p>
<h3>Header 10356</h3>
<p> The early worm gets the bird. </p><p> No man would listen to you talk if he didn't know it was his turn next.
		-- E.W. Howe </p>
<h3>Header 25880</h3>
<p> May your Tongue stick to the Roof of your Mouth with the Force of a
Thousand Caramels. </p><p> Although golf was originally restricted to wealthy, overweight Protestants,
today it's open to anybody who owns hideous clothing.
		-- Dave Barry </p>
<h3>Header 8013</h3>
<p> Time is fluid ... like a river with currents, eddies, backwash.
		-- Spock, "The City on the Edge of Forever", stardate 3134.0 </p><p> The whole world is a scab.  The point is to pick it constructively.
		-- Peter Beard </p>
<h3>Header 1645</h3>
<p> The streets were dark with something more than night.
		-- Raymond Chandler </p><p> The Least Successful Collector
	Betsy Baker played a central role in the history of collecting.  She
was employed as a servant in the house of John Warburton (1682-1759) who had
amassed a fine collection of 58 first edition plays, including most of the
works of Shakespeare.
	One day Warburton returned home to find 55 of them charred beyond
legibility.  Betsy had either burned them or used them as pie bottoms.  The
remaining three folios are now in the British Museum.
	The only comparable literary figure was the maid who in 1835 burned
the manuscript of the first volume of Thomas Carlyle's "The Hisory of the
French Revolution", thinking it was wastepaper.
		-- Stephen Pile, "The Book of Heroic Failures" </p>
<h3>Header 24469</h3>
<p> Kiss a non-smoker; taste the difference. </p><p> The closest to perfection a person ever comes is when he fills out a job
application form.
		-- Stanley J. Randall </p>
<h3>Header 21153</h3>
<p> "Where humor is concerned there are no standards -- no one can say what is 
good or bad, although you can be sure that everyone will.
 -- John Kenneth Galbraith </p><p> Walk softly and carry a big stick.
		-- Theodore Roosevelt </p>
<h3>Header 22080</h3>
<p> Basically my wife was immature.  I'd be at home in the bath and she'd
come in and sink my boats.
		-- Woody Allen </p><p> Some say the world will end in fire,
Some say in ice.
From what I've tasted of desire
I hold with those who favor fire.
But if it had to perish twice,
I think I know enough of hate
To say that for destruction, ice
Is also great
And would suffice.
		-- Robert Frost, "Fire and Ice" </p>
<h3>Header 10414</h3>
<p> The so-called "desktop metaphor" of today's workstations is instead an
"airplane-seat" metaphor.  Anyone who has shuffled a lap full of papers while
seated between two portly passengers will recognize the difference -- one can
see only a very few things at once.
- Fred Brooks, Jr. </p><p> It's later than you think. </p>
<h3>Header 24684</h3>
<p> That's no moon...
		-- Obi-wan Kenobi </p><p> The best cure for insomnia is to get a  lot of sleep.
		-- W. C. Fields </p>
<h3>Header 28693</h3>
<p> Any given program will expand to fill available memory. </p><p> It's later than you think. </p>
<h3>Header 6736</h3>
<p> Earth -- mother of the most beautiful women in the universe.
		-- Apollo, "Who Mourns for Adonais?" stardate 3468.1 </p><p> fortune: not found </p>
<h3>Header 14864</h3>
<p> To doubt everything or to believe everything are two equally convenient
solutions; both dispense with the necessity of reflection.
		-- H. Poincar'e </p><p> "Just the facts, Ma'am"
-- Joe Friday </p>
<h3>Header 2048</h3>
<p> An aphorism is never exactly true; it is either a half-truth or
one-and-a-half truths.
		-- Karl Kraus </p><p> "It's in process":
	So wrapped up in red tape that the situation is almost hopeless. </p>
<h3>Header 30323</h3>
<p> American culture is based on the automobile, and any young man of promise
is going to own one and want to travel great distances in it.  Consequently,
any young woman of aspiration should expect to spend most of her vacations
in a car, probing into unfamiliar corners.  She is not required to know how
to drive but she will certainly be expected to read the road map while her
husband drives, and if she can't, or if she's abnormally slow in giving him
help, she's bound to cause trouble.  Therefore, you'd think that colleges
which train the bright young women who're going to marry the bright young
men who are going to own the Cadillacs that roar back and forth across this
continent would teach the girls to read maps.  None do. They teach a hundred
other useless things, but never a word about the one that will cause the
greatest friction.
		-- James Michener, "Space" </p><p> 	In the beginning there was only one kind of Mathematician, created by
the Great Mathamatical Spirit form the Book: the Topologist.  And they grew to
large numbers and prospered.
	One day they looked up in the heavens and desired to reach up as far
as the eye could see.  So they set out in building a Mathematical edifice that
was to reach up as far as "up" went.  Further and further up they went ...
until one night the edifice collapsed under the weight of paradox.
	The following morning saw only rubble where there once was a huge
structure reaching to the heavens.  One by one, the Mathematicians climbed
out from under the rubble.  It was a miracle that nobody was killed; but when
they began to speak to one another, SUPRISE of all suprises! they could not
understand each other.  They all spoke different languages.  They all fought
amongst themselves and each went about their own way.  To this day the
Topologists remain the original Mathematicians.
		-- The Story of Babel </p>
<h3>Header 4470</h3>
<p> My cup hath runneth'd over with love. </p><p> I disagree with what you say, but will defend to the death your right to
tell such LIES! </p>
<h3>Header 1491</h3>
<p> What did you bring that book I didn't want to be read to out of about
Down Under up for? </p><p> QOTD:
	Money isn't everything, but at least it keeps the kids in touch. </p>
<h3>Header 29585</h3>
<p> I KAISER ROLL?!  What good is a Kaiser Roll without a little COLE SLAW
on the SIDE? </p><p> If you sow your wild oats, hope for a crop failure. </p>
