<h2>Topic c.5</h2>
<h3>Header 29050</h3>
<p> He's just a politician trying to save both his faces... </p><p> A man's gotta know his limitations.
		-- Clint Eastwood, "Dirty Harry" </p>
<h3>Header 6633</h3>
<p> Gratitude and treachery are merely the two extremities of the same procession. 
You have seen all of it that is worth staying for when the band and the gaudy
officials have gone by.
		-- Mark Twain, "Pudd'nhead Wilson's Calendar" </p><p> The amount of weight an evangelist carries with the almighty is measured
in billigrahams. </p>
<h3>Header 10755</h3>
<p> Ah, sweet Springtime, when a young man lightly turns his fancy over! </p><p> I hate small towns because once you've seen the cannon in the park
there's nothing else to do.
		-- Lenny Bruce </p>
<h3>Header 22549</h3>
<p> An artist should be fit for the best society and keep out of it. </p><p> I found Rome a city of bricks and left it a city of marble.
		-- Augustus Caesar </p>
<h3>Header 24705</h3>
<p> Fortune's Real-Life Courtroom Quote #3:

Q:  When he went, had you gone and had she, if she wanted to and were
    able, for the time being excluding all the restraints on her not to
    go, gone also, would he have brought you, meaning you and she, with
    him to the station?
MR. BROOKS:  Objection.  That question should be taken out and shot. </p><p> Nothing will ever be attempted if all possible objections must be first
overcome.
		-- Dr. Johnson </p>
<h3>Header 16370</h3>
<p> The only certainty is that nothing is certain.
		-- Pliny the Elder </p><p> 	"I don't know what you mean by 'glory'," Alice said.
	Humpty Dumpty smiled contemptuously.  "Of course you don't --
till I tell you.  I meant 'there's a nice knock-down argument for you!'"
	"But glory doesn't mean 'a nice knock-down argument'," Alice
objected.
	"When I use a word," Humpty Dumpty said, in a rather scornful
tone, "it means just what I choose it to mean -- neither more nor less."
	"The question is," said Alice, "whether you can make words mean
so many different things."
	"The question is," said Humpty Dumpty, "which is to be master --
that's all."
		-- Lewis Carrol, "Through the Looking Glass" </p>
<h3>Header 18701</h3>
<p> You will inherit millions of dollars. </p><p> A committee is a life form with six or more legs and no brain.
		-- Lazarus Long, "Time Enough For Love" </p>
<h3>Header 5408</h3>
<p> Stay away from flying saucers today. </p><p> Americans are people who insist on living in the present, tense. </p>
<h3>Header 1968</h3>
<p> To be awake is to be alive.  -- Henry David Thoreau, in "Walden" </p><p> Some performers on television appear to be horrible people, but when
you finally get to know them in person, they turn out to be even worse.
		-- Avery </p>
<h3>Header 13438</h3>
<p> The one charm of marriage is that it makes a life of deception a neccessity.
		-- Oscar Wilde </p><p> Encyclopedia for sale by father.  Son knows everything. </p>
<h3>Header 30827</h3>
<p> "It's when they say 2 + 2 = 5 that I begin to argue."
-- Eric Pepke </p><p> Blinding speed can compensate for a lot of deficiencies.
		-- David Nichols </p>
<h3>Header 29521</h3>
<p> When in trouble or in doubt,
run in circles, scream and shout. </p><p> Why do they call it baby-SITTING when all you do is run after them? </p>
<h3>Header 27833</h3>
<p> It was one time too many
One word too few
It was all too much for me and you
There was one way to go
Nothing more we could do
One time too many
One word too few
		-- Meredith Tanner </p><p> When you overesteem great hackers,
more users become cretins.
When you develop encryption,
more users become crackers.

The Guru leads
by emptying user's minds
and increasing their quotas,
by weakening their ambition
and toughening their resolve.
When users lack knowledge and desire,
management will not try to interfere.

Practice not-looping,
and everything will fall into place. </p>
<h3>Header 26603</h3>
<p> How much does she love you?  Less than you'll ever know. </p><p> What will you do if all your problems aren't solved by the time you die? </p>
<h3>Header 3441</h3>
<p> We must believe that it is the darkest before the dawn of a beautiful
new world.  We will see it when we believe it.
		-- Saul Alinsky </p><p> Q:	What does a WASP Mom make for dinner?
A:	A crisp salad, a hearty soup, a lovely entree, followed by
	a delicious dessert. </p>
<h3>Header 10155</h3>
<p> "The only way for a reporter to look at a politician is down."
-- H.L. Mencken </p><p> If the rich could pay the poor to die for them, what a living the poor
could make! </p>
<h3>Header 21508</h3>
<p> He has shown you, o man, what is good.  And what does the Lord ask of you,
but to do justice, and to love kindness, and to walk humbly before your God? </p><p> Klingon phaser attack from front!!!!!
100% Damage to life support!!!! </p>
<h3>Header 31780</h3>
<p> A language that doesn't affect the way you think about programming is
not worth knowing. </p><p> I used to be Snow White, but I drifted.
		-- Mae West </p>
<h3>Header 21010</h3>
<p> Mac Beer: At first, came only a 16-oz. can, but now comes in a 32-oz. 
can. Considered by many to be a "light" beer. All the cans look 
identical. When you take one from the fridge, it opens itself. The 
ingredients list is not on the can. If you call to ask about the 
ingredients, you are told that "you don't need to know." A notice on the 
side reminds you to drag your empties to the trashcan. </p><p> Top scientists agree that with the present rate of consumption, the earth's
supply of gravity will be exhausted before the 24th century. As man
struggles to discover cheaper alternatives, we need your help. Please...

			CONSERVE GRAVITY

Follow these simple suggestions:

(1)  Walk with a light step.  Carry helium balloons if possible.
(2)  Use tape, magnets, or glue instead of paperweights.
(3)  Give up skiing and skydiving for more horizontal sports like curling.
(4)  Avoid showers .. take baths instead.
(5)  Don't hang all your clothes in the closet ... Keep them in one big pile.
(6)  Stop flipping pancakes </p>
<h3>Header 22949</h3>
<p> "We invented a new protocol and called it Kermit, after Kermit the Frog,
star of "The Muppet Show." [3]

[3]  Why?  Mostly because there was a Muppets calendar on the wall when we
were trying to think of a name, and Kermit is a pleasant, unassuming sort of
character.  But since we weren't sure whether it was OK to name our protocol
after this popular television and movie star, we pretended that KERMIT was an
acronym; unfortunately, we could never find a good set of words to go with the
letters, as readers of some of our early source code can attest.  Later, while
looking through a name book for his forthcoming baby, Bill Catchings noticed
that "Kermit" was a Celtic word for "free", which is what all Kermit programs
should be, and words to this effect replaced the strained acronyms in our
source code (Bill's baby turned out to be a girl, so he had to name her Becky
instead).  When BYTE Magazine was preparing our 1984 Kermit article for
publication, they suggested we contact Henson Associates Inc. for permission
to say that we did indeed name the protocol after Kermit the Frog.  Permission
was kindly granted, and now the real story can be told.  I resisted the
temptation, however, to call the present work "Kermit the Book."
		-- Frank da Cruz, "Kermit - A File Transfer Protocol" </p><p> It's been a business doing pleasure with you. </p>
<h3>Header 28774</h3>
<p> It's always darkest just before the lights go out.
		-- Alex Clark </p><p> 1893 The ideal brain tonic
1900 Drink Coca-Cola -- delicious and refreshing -- 5 cents at all
	soda fountains
1905 Is the favorite drink for LADIES when thirsty -- weary -- despondent
1905 Refreshes the weary, brightens the intellect and clears the brain
1906 The drink of QUALITY
1907 Good to the last drop
1907 It satisfies the thirst and pleases the palate
1907 Refreshing as a summer breeze.  Delightful as a Dip in the Sea
1908 The Drink that Cheers but does not inebriate
1917 There's a delicious freshness to the taste of Coca-Cola
1919 It satisfies thirst
1919 The taste is the test
1922 Every glass holds the answer to thirst
1922 Thirst knows no season
1925 Enjoy the sociable drink
		-- Coca-Cola slogans </p>
<h3>Header 30358</h3>
<p> The best things in life go on sale sooner or later. </p><p> If you always postpone pleasure you will never have it.  Quit work and play
for once! </p>
<h3>Header 9125</h3>
<p> Calm down, it's only ones and zeroes,
Calm down, it's only bits and bytes,
Calm down, and speak to me in English,
Please realize that I'm not one of your computerites. </p><p> There are no rules for March.  March is spring, sort of, usually, March
means maybe, but don't bet on it. </p>
<h3>Header 23413</h3>
<p> Why did the Roman Empire collapse?  What is the Latin for office automation? </p><p> Its failings notwithstanding, there is much to be said in favor of journalism
in that by giving us the opinion of the uneducated, it keeps us in touch with
the ignorance of the community.
		-- Oscar Wilde </p>
<h3>Header 5783</h3>
<p> People of privilege will always risk their complete destruction
rather than surrender any material part of their advantage.
		-- John Kenneth Galbraith </p><p> Anger kills as surely as the other vices. </p>
<h3>Header 17056</h3>
<p> When nothing can possibly go wrong, it will. </p><p> Every time I think I know where it's at, they move it. </p>
<h3>Header 21188</h3>
<p> Only God can make random selections. </p><p> Reception area, n.:
	The purgatory where office visitors are condemned to spend
	innumerable hours reading dog-eared back issues of trade
	magazines like Modern Plastics, Chain Saw Age, and Chicken World,
	while the receptionist blithely reads her own trade magazine --
	Cosmopolitan. </p>
<h3>Header 25113</h3>
<p> You men out there probably think you already know how to dress for success.
You know, for example, that you should not wear leisure suits or white
plastic belts and shoes, unless you are going to a costume party disguised
as a pig farmer vacationing at Disney World.
		-- Dave Barry, "How to Dress for Real Success" </p><p> Boycott meat -- suck your thumb. </p>
<h3>Header 338</h3>
<p> Laws are like sausages.  It's better not to see them being made.
		-- Otto von Bismarck </p><p> Information Center, n.:
	A room staffed by professional computer people whose job it is to
	tell you why you cannot have the information you require. </p>
<h3>Header 26976</h3>
<p> The Gordian Maxim:
	If a string has one end, it has another. </p><p> The surest protection against temptation is cowardice.
		-- Mark Twain </p>
