<h2>Topic c.2</h2>
<h3>Header 14609</h3>
<p> He who is content with his lot probably has a lot. </p><p> A black cat crossing your path signifies that the animal is going somewhere.
		-- Groucho Marx </p>
<h3>Header 15586</h3>
<p> America: born free and taxed to death. </p><p> What is comedy?  Comedy is the art of making people laugh without making
them puke.
		-- Steve Martin </p>
<h3>Header 9596</h3>
<p> It is difficult to produce a television documentary that is both
incisive and probing when every twelve minutes one is interrupted by
twelve dancing rabbits singing about toilet paper.
		-- Rod Serling </p><p> Don't stop to stomp ants when the elephants are stampeding. </p>
<h3>Header 9455</h3>
<p> System going down at 1:45 this afternoon for disk crashing. </p><p> take forceful action:
	Do something that should have been done a long time ago. </p>
<h3>Header 23853</h3>
<p> In Xanadu did Kubla Khan a stately pleasure dome decree
But only if the NFL to a franchise would agree. </p><p> I just forgot my whole philosophy of life!!! </p>
<h3>Header 22800</h3>
<p> A "practical joker" deserves applause for his wit according to its quality.
Bastinado is about right.  For exceptional wit one might grant keelhauling.
But staking him out on an anthill should be reserved for the very wittiest.
		-- Lazarus Long </p><p> Possessions increase to fill the space available for their storage.
		-- Ryan </p>
<h3>Header 19115</h3>
<p> "There are some good people in it, but the orchestra as a whole is equivalent
to a gang bent on destruction."
-- John Cage, composer </p><p> I can't mate in captivity.
		-- Gloria Steinem, on why she has never married. </p>
<h3>Header 17450</h3>
<p> It's gonna be alright,
It's almost midnight,
And I've got two more bottles of wine. </p><p> If the code and the comments disagree, then both are probably wrong.
		-- Norm Schryer </p>
<h3>Header 23261</h3>
<p> The trouble with opportunity is that it always comes disguised as hard work.
		-- Herbert V. Prochnow </p><p> Secretary's Revenge:
	Filing almost everything under "the". </p>
<h3>Header 27642</h3>
<p> The difference between sentiment and being sentimental is the following:
Sentiment is when a driver swerves out of the way to avoid hitting a
rabbit on the road.  Being sentimental is when the same driver, when
swerving away from the rabbit hits a pedestrian.
		-- Frank Herbert, "The White Plague" </p><p> "You should, without hesitation, pound your typewriter into a plowshare,
your paper into fertilizer, and enter agriculture"
		-- Business Professor, University of Georgia </p>
<h3>Header 6139</h3>
<p> I do desire we may be better strangers.
		-- William Shakespeare, "As You Like It" </p><p> Peterson's Rules:
	(1) Trucks that overturn on freeways are filled with something sticky.
	(2) No cute baby in a carriage is ever a girl when called one.
	(3) Things that tick are not always clocks.
	(4) Suicide only works when you're bluffing. </p>
<h3>Header 3132</h3>
<p> What did Mickey Mouse get for Christmas?

A Dan Quayle watch.

-- heard from a Mike Dukakis field worker </p><p> Hate is like acid.  It can damage the vessel in which it is stored as well
as destroy the object on which it is poured. </p>
<h3>Header 22503</h3>
<p> QOTD:
	"I tried buying a goat instead of a lawn tractor; had to return
	it though.  Couldn't figure out a way to connect the snow blower." </p><p> Money doesn't talk, it swears.
		-- Bob Dylan </p>
<h3>Header 10158</h3>
<p> Never face facts; if you do you'll never get up in the morning.
		-- Marlo Thomas </p><p> Reclaimer, spare that tree!
Take not a single bit!
It used to point to me,
Now I'm protecting it.
It was the reader's CONS
That made it, paired by dot;
Now, GC, for the nonce,
Thou shalt reclaim it not. </p>
<h3>Header 8715</h3>
<p> Don't shoot until you're sure you both aren't on the same side. </p><p> Garbage In, Gospel Out </p>
