<h2>Topic e.2</h2>
<h3>Header 8980</h3>
<p> Nothing increases your golf score like witnesses. </p><p> Loneliness is a terrible price to pay for independence. </p>
<h3>Header 6521</h3>
<p> I always will remember --		I was in no mood to trifle;
'Twas a year ago November --		I got down my trusty rifle
I went out to shoot some deer		And went out to stalk my prey --
On a morning bright and clear.		What a haul I made that day!
I went and shot the maximum		I tied them to my bumper and
The game laws would allow:		I drove them home somehow,
Two game wardens, seven hunters,	Two game wardens, seven hunters,
And a cow.				And a cow.

The Law was very firm, it		People ask me how I do it
Took away my permit--			And I say, "There's nothin' to it!
The worst punishment I ever endured.	You just stand there lookin' cute,
It turns out there was a reason:	And when something moves, you shoot."
Cows were out of season, and		And there's ten stuffed heads
One of the hunters wasn't insured.	In my trophy room right now:
					Two game wardens, seven hunters,
					And a pure-bred guernsey cow.
		-- Tom Lehrer, "The Hunting Song" </p><p> Those who can't write, write manuals. </p>
<h3>Header 23425</h3>
<p> If you love someone, set them free.
If they don't come back, then call them up when you're drunk. </p><p> You can't kiss a girl unexpectedly -- only sooner than she thought you would. </p>
<h3>Header 703</h3>
<p> "Just out of curiosity does this actually mean something or have some
of the few remaining bits of your brain just evaporated?"
		-- Patricia O Tuama, rissa@killer.DALLAS.TX.US </p><p> Education is the process of casting false pearls before real swine.
		-- Irwin Edman </p>
<h3>Header 24750</h3>
<p> QOTD:
	Y'know how s'm people treat th'r body like a TEMPLE?
	Well, I treat mine like 'n AMUSEMENT PARK...  S'great... </p><p> Your Co-worker Could Be a Space Alien, Say Experts
		...Here's How You Can Tell
Many Americans work side by side with space aliens who look human -- but you
can spot these visitors by looking for certain tip-offs, say experts. They
listed 10 signs to watch for:
    (3) Bizarre sense of humor.  Space aliens who don't understand
	earthly humor may laugh during a company training film or tell
	jokes that no one understands, said Steiger.
    (6) Misuses everyday items.  "A space alien may use correction
	fluid to paint its nails," said Steiger.
    (8) Secretive about personal life-style and home.  "An alien won't
	discuss details or talk about what it does at night or on weekends."
   (10) Displays a change of mood or physical reaction when near certain
	high-tech hardware.  "An alien may experience a mood change when
	a microwave oven is turned on," said Steiger.
The experts pointed out that a co-worker would have to display most if not
all of these traits before you can positively identify him as a space alien.
		-- National Enquirer, Michael Cassels, August, 1984.

	[I thought everybody laughed at company training films.  Ed.] </p>
<h3>Header 20112</h3>
<p> Another megabytes the dust. </p><p> Slowly and surely the unix crept up on the Nintendo user ... </p>
<h3>Header 32302</h3>
<p> If people drank ink instead of Schlitz, they'd be better off.
		-- Edward E. Hippensteel

[What brand of ink?  Ed.] </p><p> One has to look out for engineers -- they begin with sewing machines
and end up with the atomic bomb.
		-- Marcel Pagnol </p>
<h3>Header 1097</h3>
<p> To err is human -- but it feels divine.
		-- Mae West </p><p> "My father?  My father left when I was quite young.  Well actually, he
 was asked to leave.  He had trouble metabolizing alcohol."
 -- George Carlin </p>
<h3>Header 29275</h3>
<p> If you can't get your work done in the first 24 hours, work nights. </p><p> "Even more amazing was the realization that God has Internet access.  I
wonder if He has a full newsfeed?"
(By Matt Welsh) </p>
