<h2>Topic b.1</h2>
<h3>Header 14255</h3>
<p> Always do right.  This will gratify some people and astonish the rest.
		-- Mark Twain </p><p> Well, my terminal's locked up, and I ain't got any Mail,
	And I can't recall the last time that my program didn't fail;
I've got stacks in my structs, I've got arrays in my queues,
	I've got the : Segmentation violation -- Core dumped blues.

If you think that it's nice that you get what you C,
	Then go : illogical statement with your whole family,
'Cause the Supreme Court ain't the only place with : Bus error views.
	I've got the : Segmentation violation -- Core dumped blues.

On a PDP-11, life should be a breeze,
	But with VAXen in the house even magnetic tapes would freeze.
Now you might think that unlike VAXen I'd know who I abuse,
	I've got the : Segmentation violation -- Core dumped blues.
		-- Core Dumped Blues </p>
<h3>Header 31202</h3>
<p> I hate babies.  They're so human.
		-- H.H. Munro </p><p> "May your future be limited only by your dreams."
-- Christa McAuliffe </p>
<h3>Header 32287</h3>
<p> Life exists for no known purpose. </p><p> In buying horses and taking a wife shut your eyes tight and commend
yourself to God. </p>
<h3>Header 14159</h3>
<p> Love tells us many things that are not so.
		-- Krainian Proverb </p><p> 	Joe sat as his dying wife's bedside.
	Her voice was little more than a whisper.
	"Joe, darling," she breathed, "I've got a confession to make
before I go.  I ... I'm the one who took the $10,000 from your safe...
I spent it on a fling with your best friend, Charles.  And it was I who
forced your mistress to leave the city.  And I am the one who reported 
your income-tax evasion to the I.R.S..."
	"That's all right, dearest, don't give it a second thought,"
whispered Joe. "I'm the one who poisoned you." </p>
<h3>Header 9520</h3>
<p> A would-be disciple came to Nasrudin's hut on the mountain-side.  Knowing
that every action of such an enlightened one is significant, the seeker
watched the teacher closely.  "Why do you blow on your hands?"  "To warm
myself in the cold."  Later, Nasrudin poured bowls of hot soup for himself
and the newcomer, and blew on his own.  "Why are you doing that, Master?"
"To cool the soup."  Unable to trust a man who uses the same process
to arrive at two different results -- hot and cold -- the disciple departed. </p><p> When I first arrived in this country I had only fifteen cents in my pocket
and a willingness to compromise.
		-- Weber cartoon caption </p>
<h3>Header 5187</h3>
<p> The British are coming!  The British are coming! </p><p> Each man is his own prisoner, in solitary confinement for life. </p>
<h3>Header 24657</h3>
<p> Now there's a violent movie titled, "The Croquet Homicide," or "Murder
With Mallets Aforethought."
		-- Shelby Friedman, WSJ. </p><p> 			DELETE A FORTUNE!
Don't some of these fortunes just drive you nuts?!
Wouldn't you like to see some of them deleted from the system?
You can!  Just mail to `fortune' with the fortune you hate most,
and we'll make sure it gets expunged. </p>
<h3>Header 32241</h3>
<p> Our business is run on trust.  We trust you will pay in advance. </p><p> A clash of doctrine is not a disaster -- it is an opportunity. </p>
<h3>Header 31031</h3>
<p> One of the disadvantages of having children is that they eventually get old
enough to give you presents they make at school.
		-- Robert Byrne </p><p> Boy, that crayon sure did hurt! </p>
<h3>Header 18441</h3>
<p> The sudden sight of me causes panic in the streets. They have yet to learn
-- only the savage fears what he does not understand.
		-- The Silver Surfer </p><p> "If a computer can't directly address all the RAM you can use, it's just a toy."
-- anonymous comp.sys.amiga posting, non-sequitir </p>
<h3>Header 21786</h3>
<p> Nice guys don't finish nice. </p><p> He who is intoxicated with wine will be sober again in the course of the
night, but he who is intoxicated by the cupbearer will not recover his
senses until the day of judgement.
		-- Saadi </p>
<h3>Header 13325</h3>
<p> When the candles are out all women are fair.
		-- Plutarch </p><p> When we jumped into Sicily, the units became separated, and I couldn't find
anyone.  Eventually I stumbled across two colonels, a major, three captains,
two lieutenants, and one rifleman, and we secured the bridge.  Never in the
history of war have so few been led by so many.
- General James Gavin </p>
<h3>Header 25240</h3>
<p> Hate the sin and love the sinner.
		-- Mahatma Gandhi </p><p> There are more dead people than living, and their numbers are increasing.
		-- Eugene Ionesco </p>
<h3>Header 10557</h3>
<p> I try to keep an open mind, but not so open that my brains fall out.
		-- Judge Harold T. Stone </p><p> 'Tis more blessed to give than receive; for example, wedding presents.
		-- H.L. Mencken </p>
<h3>Header 26840</h3>
<p> The perversity of nature is nowhere better demonstrated by the fact that, when
exposed to the same atmosphere, bread becomes hard while crackers become soft. </p><p> Nezvannyi gost'--khuzhe tatarina.
	[An uninvited guest is worse than the Mongol invasion]
		-- Russian proverb </p>
