<h2>Topic e.4</h2>
<h3>Header 20960</h3>
<p> "Nuclear war would mean abolition of most comforts, and disruption of 
normal routines, for children and adults alike."
		-- Willard F. Libby, "You *Can* Survive Atomic Attack" </p><p> 	"I keep seeing spots in front of my eyes."
	"Did you ever see a doctor?"
	"No, just spots." </p>
<h3>Header 1890</h3>
<p> Going the speed of light is bad for your age. </p><p> QOTD:
	"I don't think they could put him in a mental hospital.  On the
	other hand, if he were already in, I don't think they'd let him out." </p>
<h3>Header 13707</h3>
<p> I can't decide whether to commit suicide or go bowling.
		-- Florence Henderson </p><p> Virtue would go far if vanity did not keep it company.
		-- La Rochefoucauld </p>
<h3>Header 29195</h3>
<p> Be wary of strong drink.  It can make you shoot at tax collectors and miss.
		-- Lazarus Long, "Time Enough for Love" </p><p> 
"Whatever the missing mass of the universe is, I hope it's not cockroaches!"
		-- Mom </p>
<h3>Header 29109</h3>
<p> When all else fails, EAT!!! </p><p> Many are called, few volunteer. </p>
<h3>Header 20662</h3>
<p> The bank sent our statement this morning,
The red ink was a sight of great awe!
Their figures and mine might have balanced,
But my wife was too quick on the draw. </p><p> Promptness is its own reward, if one lives by the clock instead of the sword. </p>
<h3>Header 7415</h3>
<p> My mind is making ashtrays in Dayton ... </p><p> Save the whales.  Collect the whole set. </p>
<h3>Header 12318</h3>
<p> Use an accordion.  Go to jail.
		-- KFOG, San Francisco </p><p> Please help keep the world clean: others may wish to use it. </p>
<h3>Header 1982</h3>
<p> "Indecision is the basis of flexibility"
-- button at a Science Fiction convention. </p><p> QOTD:
	"I may not be able to walk, but I drive from the sitting posistion." </p>
<h3>Header 25385</h3>
<p> All of us should treasure his Oriental wisdom and his preaching of a
Zen-like detachment, as exemplified by his constant reminder to clerks,
tellers, or others who grew excited by his presence in their banks:
"Just lie down on the floor and keep calm."
		-- Robert Wilson, "John Dillinger Died for You" </p><p> The distinction between true and false appears to become increasingly
blurred by... the pollution of the language.
		-- Arne Tiselius </p>
<h3>Header 6888</h3>
<p> There's no such thing as a free lunch.
		-- Milton Friendman </p><p> Evolution is a bankrupt speculative philosophy, not a scientific fact.
Only a spiritually bankrupt society could ever believe it. ... Only
atheists could accept this Satanic theory.
- Rev. Jimmy Swaggart, "The Pre-Adamic Creation and Evolution" </p>
<h3>Header 31964</h3>
<p> Hold the MAYO & pass the COSMIC AWARENESS ... </p><p> Ye've also got to remember that ... respectable people do the most astonishin'
things to preserve their respectability.  Thank God I'm not respectable.
		-- Ruthven Campbell Todd </p>
<h3>Header 28561</h3>
<p> Is it 1974?  What's for SUPPER?  Can I spend my COLLEGE FUND in one
wild afternoon?? </p><p> Sometimes, when I think of what that girl means to me, it's all I can do
to keep from telling her.
		-- Andy Capp </p>
<h3>Header 19191</h3>
<p> A man is crawling through the Sahara desert when he is approached by another
man riding on a camel.  When the rider gets close enough, the crawling man
whispers through his sun-parched lips, "Water... please... can you give...
water..."
	"I'm sorry," replies the man on the camel, "I don't have any water
with me.  But I'd be delighted to sell you a necktie."
	"Tie?" whispers the man.  "I need *water*."
	"They're only four dollars apiece."
	"I need *water*."
	"Okay, okay, say two for seven dollars."
	"Please!  I need *water*!", says the man.
	"I don't have any water, all I have are ties," replies the salesman,
and he heads off into the distance.
	The man, losing track of time, crawls for what seems like days.
Finally, nearly dead, sun-blind and with his skin peeling and blistering, he
sees a restaurant in the distance.  Summoning the last of his strength he
staggers up to the door and confronts the head waiter.
	"Water... can I get... water," the dying man manages to stammer.
	"I'm sorry, sir, ties required." </p><p> How many Zen Buddhist does it take to change a light bulb?

Two.  One to change it and one not to change it. </p>
<h3>Header 12635</h3>
<p> QOTD:
	If it's too loud, you're too old. </p><p> You're definitely on their list.  The question to ask next is what list it is. </p>
<h3>Header 376</h3>
<p> There are two kinds of fool. One says, "This is old, and therefore good."
And one says, "This is new, and therefore better"
		-- John Brunner, "The Shockwave Rider" </p><p> Mankind's yearning to engage in sports is older than recorded history,
dating back to the time millions of years ago, when the first primitive man
picked up a crude club and a round rock, tossed the rock into the air, and
whomped the club into the sloping forehead of the first primitive umpire.

What inner force drove this first athlete?  Your guess is as good as
mine.  Better, probably, because you haven't had four beers.
		-- Dave Barry, "Sports is a Drag" </p>
<h3>Header 9233</h3>
<p> 	"Welcome back for you 13th consecutive week, Evelyn.  Evelyn, will
you go into the auto-suggestion booth and take your regular place on the
psycho-prompter couch?"
	"Thank you, Red."
	"Now, Evelyn, last week you went up to $40,000 by properly citing
your rivalry with your sibling as a compulsive sado-masochistic behavior
pattern which developed out of an early post-natal feeding problem."
	"Yes, Red."
	"But -- later, when asked about pre-adolescent oedipal phantasy
repressions, you rationalized twice and mental blocked three times.  Now,
at $300 per rationalization and $500 per mental block you lost $2,100 off
your $40,000 leaving you with a total of $37,900.  Now, any combination of
two more mental blocks and either one rationalization or three defensive
projections will put you out of the game.  Are you willing to go ahead?"
	"Yes, Red."
	"I might say here that all of Evelyn's questions and answers have
been checked for accuracy with her analyst.  Now, Evelyn, for $80,000
explain the failure of your three marriages."
	"Well, I--"
	"We'll get back to Evelyn in one minute.  First a word about our
product."
		-- Jules Feiffer </p><p> There is no sin but ignorance.
		-- Christopher Marlowe </p>
<h3>Header 26607</h3>
<p> An elderly couple were flying to their Caribbean hideaway on a chartered plane
when a terrible storm forced them to land on an uninhabited island.  When
several days passed without rescue, the couple and their pilot sank into a
despondent silence. Finally, the woman asked her husband if he had made his
usual pledge to the United Way Campaign.
	"We're running out of food and water and you ask *that*?" her husband
barked.  "If you really need to know, I not only pledged a half million but
I've already paid them half of it."
	"You owe the U.W.C. a *quarter million*?" the woman exclaimed
euphorically.  "Don't worry, Harry, they'll find us!  They'll find us!" </p><p> But was he mature enough last night at the lesbian masquerade? </p>
<h3>Header 1576</h3>
<p> "Those who do not do politics will be done in by politics."
		-- French Proverb </p><p> Military intelligence is a contradiction in terms.
		-- Groucho Marx </p>
<h3>Header 27992</h3>
<p> FORTUNE PROVIDES QUESTIONS FOR THE GREAT ANSWERS: #4
A:	Go west, young man, go west!
Q:	What do wabbits do when they get tiwed of wunning awound? </p><p> Our father who art in heaven ... I sincerely pray that SOMEBODY at this
table will PAY for my SHREDDED WHAT and ENGLISH MUFFIN ... and also
leave a GENEROUS TIP .... </p>
<h3>Header 18604</h3>
<p> Fine day to work off excess energy.  Steal something heavy. </p><p> To a New Yorker, the only California houses on the market for less than a
million dollars are those on fire.  These generally go for six hundred
thousand.
	-- From "East vs. West: The War Between the Coasts </p>
