<h2>Topic c.3</h2>
<h3>Header 9648</h3>
<p> He that bringeth a present, findeth the door open.
		-- Scottish proverb. </p><p> Zhizn' prozhit'--ne pole pereiti.
	[Life's a bitch.]
	[Well, okay.  lit., to live through life is not as simple as crossing
	 a field.  Happy now?]
		-- Russian proverb </p>
<h3>Header 30899</h3>
<p> "I'm not stupid, I'm not expendable, and I'M NOT GOING!" </p><p> The star of riches is shining upon you. </p>
<h3>Header 19784</h3>
<p> You cannot have a science without measurement.
		-- R. W. Hamming </p><p> One girl can be pretty -- but a dozen are only a chorus.
		-- F. Scott Fitzgerald, "The Last Tycoon" </p>
<h3>Header 27974</h3>
<p> Everybody knows that the dice are loaded.  Everybody rolls with their
fingers crossed.  Everybody knows the war is over.  Everybody knows the
good guys lost.  Everybody knows the fight was fixed: the poor stay
poor, the rich get rich.  That's how it goes.  Everybody knows.

Everybody knows that the boat is leaking.  Everybody knows the captain
lied.  Everybody got this broken feeling like their father or their dog
just died.

Everybody talking to their pockets.  Everybody wants a box of chocolates
and long stem rose.  Everybody knows.

Everybody knows that you love me, baby.  Everybody knows that you really
do.  Everybody knows that you've been faithful, give or take a night or
two.  Everybody knows you've been discreet, but there were so many people
you just had to meet without your clothes.  And everybody knows.

And everybody knows it's now or never.  Everybody knows that it's me or you.
And everybody knows that you live forever when you've done a line or two.
Everybody knows the deal is rotten: Old Black Joe's still pickin' cotton
for you ribbons and bows.  And everybody knows.
	-- Leonard Cohen, "Everybody Knows" </p><p> Actually, typing random strings in the Finder does the equivalent of
filename completion.
(Discussion in comp.os.linux.misc on the intuitiveness of commands: file
completion vs. the Mac Finder.) </p>
<h3>Header 16733</h3>
<p> The person who can smile when something goes wrong has thought of
someone to blame it on. </p><p> Could I have a drug overdose? </p>
<h3>Header 18623</h3>
<p> We do not colonize.  We conquer.  We rule.  There is no other way for us.
		-- Rojan, "By Any Other Name", stardate 4657.5 </p><p> If imprinted foil seal under cap is broken or missing when purchased, do not 
use. </p>
<h3>Header 12777</h3>
<p> The Wright Bothers weren't the first to fly.  They were just the first
not to crash. </p><p> If you don't know what game you're playing, don't ask what the score is. </p>
<h3>Header 20772</h3>
<p> Progress might have been all right once, but it's gone on too long.
		-- Ogden Nash </p><p> "Picture the sun as the origin of two intersecting 6-dimensional
hyperplanes from which we can deduce a certain transformational
sequence which gives us the terminal velocity of a rubber duck ..." </p>
<h3>Header 10842</h3>
<p> Everything should be built top-down, except this time. </p><p> Bershere's Formula for Failure:
	There are only two kinds of people who fail: those who
	listen to nobody... and those who listen to everybody. </p>
<h3>Header 14774</h3>
<p> I have a map of the United States.  It's actual size.  I spent last summer
folding it.  People ask me where I live, and I say, "E6".
		-- Steven Wright </p><p> A Dublin lawyer died in poverty and many barristers of the city subscribed to
a fund for his funeral.  The Lord Chief Justice of Orbury was asked to donate
a shilling.  "Only a shilling?" exclaimed the man. "Only a shilling to bury
an attorney?  Here's a guinea; go and bury twenty of them." </p>
