<h2>Topic d.2</h2>
<h3>Header 6583</h3>
<p> The Official MBA Handbook on business cards:
	Avoid overly pretentious job titles such as "Lord of the Realm,
	Defender of the Faith, Emperor of India" or "Director of Corporate
	Planning." </p><p> Pushing 30 is exercise enough. </p>
<h3>Header 30019</h3>
<p> The old complaint that mass culture is designed for eleven-year-olds
is of course a shameful canard.  The key age has traditionally been
more like fourteen.
		-- Robert Christgau, "Esquire" </p><p> I love mankind ... It's people I hate.
		-- Schulz </p>
<h3>Header 6554</h3>
<p> So this it it.  We're going to die. </p><p> Habit is habit, and not to be flung out of the window by any man, but coaxed
down-stairs a step at a time.
		-- Mark Twain, "Pudd'nhead Wilson's Calendar </p>
<h3>Header 3134</h3>
<p> The scene: in a vast, painted desert, a cowboy faces his horse.

Cowboy:	"Well, you've been a pretty good hoss, I guess.  Hardworkin'.
	Not the fastest critter I ever come acrost, but..."

Horse:  "No, stupid, not feed*back*.  I said I wanted a feed*bag*. </p><p> I came out of twelve years of college and I didn't even know how to sew.
All I could do was account -- I couldn't even account for myself.
		-- Firesign Theatre </p>
<h3>Header 15849</h3>
<p> 	Inheritance taxes are getting so out of line, that the deceased family
often doesn't have a legacy to stand on. </p><p> An air of FRENCH FRIES permeates my nostrils!! </p>
<h3>Header 9070</h3>
<p> Come, landlord, fill the flowing bowl until it does run over,
Tonight we will all merry be -- tomorrow we'll get sober.
		-- John Fletcher, "The Bloody Brother", II, 2 </p><p> Landru! Guide us!
		-- A Beta 3-oid, "The Return of the Archons", stardate 3157.4 </p>
<h3>Header 17482</h3>
<p> Let us remember that ours is a nation of lawyers and order. </p><p> Fog Lamps, n.:
	Excessively (often obnoxiously) bright lamps mounted on the fronts
	of automobiles; used on dry, clear nights to indicate that the
	driver's brain is in a fog.  See also "Idiot Lights". </p>
