<h2>Topic e.1</h2>
<h3>Header 17041</h3>
<p> There is nothing which cannot be answered by means of my doctrine," said
a monk, coming into a teahouse where Nasrudin sat.
	"And yet just a short time ago, I was challenged by a scholar with
an unanswerable question," said Nasrudin.
	"I could have answered it if I had been there."
	"Very well.  He asked, 'Why are you breaking into my house in
the middle of the night?'" </p><p> 	"Anything else you wish to draw to my attention, Mr. Holmes ?"
	"The curious incident of the stable dog in the nighttime."
	"But the dog did nothing in the nighttime."
	"That was the curious incident."
		-- A. Conan Doyle, "Silver Blaze" </p>
<h3>Header 17959</h3>
<p> You are absolute plate-glass. I see to the very back of your mind.
		-- Sherlock Holmes </p><p> An elderly couple were flying to their Caribbean hideaway on a chartered plane
when a terrible storm forced them to land on an uninhabited island.  When
several days passed without rescue, the couple and their pilot sank into a
despondent silence. Finally, the woman asked her husband if he had made his
usual pledge to the United Way Campaign.
	"We're running out of food and water and you ask *that*?" her husband
barked.  "If you really need to know, I not only pledged a half million but
I've already paid them half of it."
	"You owe the U.W.C. a *quarter million*?" the woman exclaimed
euphorically.  "Don't worry, Harry, they'll find us!  They'll find us!" </p>
<h3>Header 11700</h3>
<p> Q:	What is purple and concord the world?
A:	Alexander the Grape. </p><p> Keep a diary and one day it'll keep you.
		-- Mae West </p>
<h3>Header 8069</h3>
<p> Join the Navy; sail to far-off exotic lands, meet exciting interesting people,
and kill them. </p><p> Isn't it nice that people who prefer Los Angeles to San Francisco live there?
		-- Herb Caen </p>
<h3>Header 24807</h3>
<p> "'Tis true, 'tis pity, and pity 'tis 'tis true."
-- Poloniouius, in Willie the Shake's _Hamlet, Prince of Darkness_ </p><p> The people sensible enough to give good advice are usually sensible
enough to give none. </p>
<h3>Header 24570</h3>
<p> If Patrick Henry thought that taxation without representation was bad,
he should see how bad it is with representation. </p><p> The purpose of Physics 7A is to make the engineers realize that they're
not perfect, and to make the rest of the people realize that they're not
engineers. </p>
<h3>Header 17077</h3>
<p> Some people manage by the book, even though they don't know who wrote the
book or even what book. </p><p> Enjoy yourself while you're still old. </p>
<h3>Header 9993</h3>
<p> You know it's going to be a bad day when you want to put on the clothes
you wore home from the party and there aren't any. </p><p> My boy is a mean kid.  I came home the other day and saw him taping worms
to the sidewalk, he sits there and watches the birds get hernias.  Well,
only last Christmas I gave him a B-B gun and he gave me a sweatshirt with
a bulls-eye on the back.

I told my kids, "Someday, you'll have kids of your own."  One of them
said, "So will you."
		-- Rodney Dangerfield </p>
<h3>Header 29419</h3>
<p> Football is a game designed to keep coalminers off the streets.
		-- Jimmy Breslin </p><p> If there were a school for, say, sheet metal workers, that after three
years left its graduates as unprepared for their careers as does law
school, it would be closed down in a minute, and no doubt by lawyers.
		-- Michael Levin, "The Socratic Method </p>
<h3>Header 12621</h3>
<p> After an instrument has been assembled, extra components will be found
on the bench. </p><p> 	"Oh sure, this costume may look silly, but it lets me get in and out
of dangerous situations -- I work for a federal task force doing a survey on
urban crime.  Look, here's my ID, and here's a number you can call, that will
put you through to our central base in Atlanta.  Go ahead, call -- they'll
confirm who I am.
	"Unless, of course, the Astro-Zombies have destroyed it."
		-- Captain Freedom </p>
<h3>Header 28880</h3>
<p> Politics is not the art of the possible.  It consists in choosing
between the disastrous and the unpalatable.
		-- John Kenneth Galbraith </p><p> A large spider in an old house built a beautiful web in which to catch flies.
Every time a fly landed on the web and was entangled in it the spider devoured
him, so that when another fly came along he would think the web was a safe and
quiet place in which to rest.  One day a fairly intelligent fly buzzed around
above the web so long without lighting that the spider appeared and said,
"Come on down."  But the fly was too clever for him and said, "I never light
where I don't see other flies and I don't see any other flies in your house."
So he flew away until he came to a place where there were a great many other
flies.  He was about to settle down among them when a bee buzzed up and said,
"Hold it, stupid, that's flypaper.  All those flies are trapped."  "Don't be
silly," said the fly, "they're dancing."  So he settled down and became stuck
to the flypaper with all the other flies.

Moral:  There is no safety in numbers, or in anything else.
		-- James Thurber, "The Fairly Intelligent Fly" </p>
<h3>Header 7431</h3>
<p> May a Misguided Platypus lay its Eggs in your Jockey Shorts. </p><p> When I think about myself,
I almost laugh myself to death,
My life has been one great big joke,	Sixty years in these folks' world
A dance that's walked			The child I works for calls me girl
A song that's spoke,			I say "Yes ma'am" for working's sake.
I laugh so hard I almost choke		Too proud to bend
When I think about myself.		Too poor to break,
					I laugh until my stomach ache,
					When I think about myself.
My folks can make me split my side,
I laughed so hard I nearly died,
The tales they tell, sound just like lying,
They grow the fruit, 
But eat the rind,
I laugh until I start to crying,
When I think about my folks.
		-- Maya Angelou </p>
<h3>Header 29322</h3>
<p> I've been on a diet for two weeks and all I've lost is two weeks.
		-- Totie Fields </p><p> If truth is beauty, how come no one has their hair done in the library?
		-- Lily Tomlin </p>
<h3>Header 29182</h3>
<p> The best way to keep your friends is not to give them away. </p><p> TANSTAAFL </p>
<h3>Header 4032</h3>
<p> Q:	Are we not men?
A:	We are Vaxen. </p><p> The most remarkable thing about my mother is that for thirty years she served
the family nothing but leftovers.  The original meal has never been found.
		-- Calvin Trillin </p>
<h3>Header 6868</h3>
<p> History is the version of past events that people have decided to agree on.
		-- Napoleon Bonaparte, "Maxims" </p><p> I THINK THERE SHOULD BE SOMETHING in science called the "reindeer effect."
I don't know what it would be, but I think it'd be good to hear someone say,
"Gentlemen, what we have here is a terrifying example of the reindeer effect."
		-- Jack Handley, The New Mexican, 1988. </p>
<h3>Header 27894</h3>
<p> There are only two kinds of men -- the dead and the deadly.
		-- Helen Rowland </p><p> ISO applications:
	A solution in search of a problem! </p>
<h3>Header 6366</h3>
<p> Ah, my friends, from the prison, they ask unto me,
"How good, how good does it feel to be free?"
And I answer them most mysteriously:
"Are birds free from the chains of the sky-way?"
		-- Bob Dylan </p><p> He who hesitates is last. </p>
