<h2>Topic d.1</h2>
<h3>Header 18554</h3>
<p> The justifications for drug testing are part of the presently fashionable
debate concerning restoring America's "competitiveness." Drugs, it has been
revealed, are responsible for rampant absenteeism, reduced output, and poor
quality work.  But is drug testing in fact rationally related to the
resurrection of competitiveness?  Will charging the atmosphere of the
workplace with the fear of excretory betrayal honestly spur productivity?
Much noise has been made about rehabilitating the worker using drugs, but
to date the vast majority of programs end with the simple firing or the not
hiring of the abuser.  This practice may exacerbate, not alleviate, the
nation's productivity problem.  If economic rehabilitation is the ultimate
goal of drug testing, then criteria abandoning the rehabilitation of the
drug-using worker is the purest of hypocrisy and the worst of rationalization.
		-- The concluding paragraph of "Constitutional Law: The
		   Fourth Amendment and Drug Testing in the Workplace,"
		   Tim Moore, Harvard Journal of Law & Public Policy, vol.
		   10, No. 3 (Summer 1987), pp. 762-768. </p><p> Women give themselves to God when the Devil wants nothing more to do with them.
		-- Arnould </p>
<h3>Header 21957</h3>
<p> As of next Thursday, UNIX will be flushed in favor of TOPS-10.
Please update your programs. </p><p> 	A man was reading The Canterbury Tales one Saturday morning, when his
wife asked "What have you got there?"  Replied he, "Just my cup and Chaucer." </p>
<h3>Header 1273</h3>
<p> Don't get mad, get interest. </p><p> IBM:
	It may be slow, but it's hard to use. </p>
<h3>Header 5629</h3>
<p> Beam me up, Scotty! </p><p> Economists are still trying to figure out why the girls with the least
principle draw the most interest. </p>
<h3>Header 11843</h3>
<p> 	There was once a programmer who worked upon microprocessors.  "Look at
how well off I am here," he said to a mainframe programmer who came to visit,
"I have my own operating system and file storage device.  I do not have to
share my resources with anyone.  The software is self-consistent and
easy-to-use.  Why do you not quit your present job and join me here?"
	The mainframe programmer then began to describe his system to his
friend, saying: "The mainframe sits like an ancient sage meditating in the
midst of the data center.  Its disk drives lie end-to-end like a great ocean
of machinery.  The software is a multi-faceted as a diamond and as convoluted
as a primeval jungle.  The programs, each unique, move through the system
like a swift-flowing river.  That is why I am happy where I am."
	The microcomputer programmer, upon hearing this, fell silent.  But the
two programmers remained friends until the end of their days.
		-- Geoffrey James, "The Tao of Programming" </p><p> I do not fear computers.  I fear the lack of them.
		-- Isaac Asimov </p>
<h3>Header 17263</h3>
<p> fenderberg, n.:
	The large glacial deposits that form on the insides
	of car fenders during snowstorms.
		-- "Sniglets", Rich Hall & Friends </p><p> YOW!!  Up ahead!  It's a DONUT HUT!! </p>
<h3>Header 24233</h3>
<p> "What the scientists have in their briefcases is terrifying."
-- Nikita Khrushchev </p><p> Creativity is not always bred in an environment of tranquility;
sometimes you have to squeeze a little to get the paste out of the tube. </p>
<h3>Header 17351</h3>
<p> "You can't teach people to be lazy - either they have it, or they don't."
		-- Dagwood Bumstead </p><p> Welcome to Lake Wobegon, where all the men are strong, the women are pretty,
and the children are above-average.
		-- Garrison Keillor </p>
<h3>Header 18006</h3>
<p> Mundus vult decipi decipiatur ergo.
		-- Xaviera Hollander
	[The world wants to be cheated, so cheat.] </p><p> Honesty is for the most part less profitable than dishonesty.
		-- Plato </p>
<h3>Header 19085</h3>
<p> You never know what is enough until you know what is more than enough.
		-- William Blake </p><p> Behind all the political rhetoric being hurled at us from abroad, we are 
bringing home one unassailable fact -- [terrorism is] a crime by any civilized
standard, committed against innocent people, away from the scene of political
conflict, and must be dealt with as a crime. . . .
   [I]n our recognition of the nature of terrorism as a crime lies our best hope
of dealing with it. . . .
   [L]et us use the tools that we have.  Let us invoke the cooperation we have
the right to expect around the world, and with that cooperation let us shrink
the dark and dank areas of sanctuary until these cowardly marauders are held
to answer as criminals in an open and public trial for the crimes they have
committed, and receive the punishment they so richly deserve.
- William H. Webster, Director, Federal Bureau of Investigation, 15 Oct 1985 </p>
<h3>Header 4371</h3>
<p> Trying to establish voice contact ... please ____yell into keyboard. </p><p> The unfacts, did we have them, are too imprecisely few to warrant our certitude. </p>
<h3>Header 31389</h3>
<p> Like my parents, I have never been a regular church member or churchgoer.
It doesn't seem plausible to me that there is the kind of God who
watches over human affairs, listens to prayers, and tries to guide
people to follow His precepts -- there is just too much misery and
cruelty for that.  On the other hand, I respect and envy the people 
who get inspiration from their religions.
- Benjamin Spock </p><p> An Ada exception is when a routine gets in trouble and says
'Beam me up, Scotty'. </p>
<h3>Header 26595</h3>
<p> ... A booming voice says, "Wrong, cretin!", and you notice that you
have turned into a pile of dust. </p><p> I went to the race track once and bet on a horse that was so good that
it took seven others to beat him! </p>
<h3>Header 6153</h3>
<p> drug, n:
	A substance that, injected into a rat, produces a scientific paper. </p><p> Laugh when you can; cry when you must. </p>
<h3>Header 9150</h3>
<p> The men sat sipping their tea in silence.  After a while the klutz said,
	"Life is like a bowl of sour cream."
	"Like a bowl of sour cream?" asked the other.  "Why?"
	"How should I know?  What am I, a philosopher?" </p><p> Not me, guy. I read the Bash man page each day like a Jehovah's Witness reads
the Bible. No wait, the Bash man page IS the bible. Excuse me...
(More on confusing aliases, taken from comp.os.linux.misc) </p>
<h3>Header 19390</h3>
<p> sushi, n.:
	When that-which-may-still-be-alive is put on top of rice and
	strapped on with electrical tape. </p><p> The hearing ear is always found close to the speaking tongue, a custom
whereof the memory of man runneth not howsomever to the contrary, nohow. </p>
<h3>Header 10588</h3>
<p> Thank you for observing all safety precautions. </p><p> Extraordinary claims demand extraordinary proof.  There are many examples of
outsiders who eventually overthrew entrenched scientific orthodoxies, but
they prevailed with irrefutable data.  More often, egregious findings that
contradict well-established research turn out to be artifacts.  I have
argued that accepting psychic powers, reincarnation, "cosmic conciousness,"
and the like, would entail fundamental revisions of the foundations of
neuroscience.  Before abandoning materialist theories of mind that have paid
handsome dividends, we should insist on better evidence for psi phenomena
than presently exists, especially when neurology and psychology themselves
offer more plausible alternatives.
- Barry L. Beyerstein, "The Brain and Conciousness: Implications for Psi
   Phenomena", The Skeptical Inquirer, Vol. XII No. 2, ppg. 163-171 </p>
<h3>Header 1607</h3>
<p> I'm mentally OVERDRAWN!  What's that SIGNPOST up ahead?  Where's ROD
STERLING when you really need him? </p><p> 	Fred noticed his roommate had a black eye upon returning from a dance.
"What happened?"
	"I was struck by the beauty of the place." </p>
<h3>Header 22489</h3>
<p> Hmmm ... A hash-singer and a cross-eyed guy were SLEEPING on a deserted
island, when ... </p><p> Ontogeny recapitulates phylogeny. </p>
