<h2>Topic c.4</h2>
<h3>Header 31992</h3>
<p> It's always darkest just before it gets pitch black. </p><p> If you refuse to accept anything but the best you very often get it. </p>
<h3>Header 175</h3>
<p> Forecast, n.:
	A prediction of the future, based on the past, for
	which the forecaster demands payment in the present. </p><p> NOTICE:
	Anyone seen smoking will be assumed to be on fire and will
	be summarily put out. </p>
<h3>Header 32527</h3>
<p> Humor in the Court:
Q.  Were you aquainted with the deceased?
A.  Yes, sir.
Q.  Before or after he died? </p><p> Ninety-Ninety Rule of Project Schedules:
	The first ninety percent of the task takes ninety percent of
	the time, and the last ten percent takes the other ninety percent. </p>
<h3>Header 19432</h3>
<p> Phone call for chucky-pooh. </p><p> I just had a NOSE JOB!! </p>
<h3>Header 28548</h3>
<p> Iles's Law:
	There is always an easier way to do it.  When looking directly
	at the easy way, especially for long periods, you will not see it.
	Neither will Iles. </p><p> A priest advised Voltaire on his death bed to renounce the devil. 
Replied Voltaire, "This is no time to make new enemies." </p>
<h3>Header 31571</h3>
<p> I must Create a System, or be enslav'd by another Man's;
I will not Reason and Compare; my business is to Create.
		-- William Blake, "Jerusalem" </p><p> If you have never been hated by your child, you have never been a parent.
		-- Bette Davis </p>
<h3>Header 12981</h3>
<p> =============== ALL FRESHMEN PLEASE NOTE ===============

To minimize scheduling confusion, please realize that if you are taking one
course which is offered at only one time on a given day, and another which is
offered at all times on that day, the second class will be arranged as to 
afford maximum inconvenience to the student.  For example, if you happen
to work on campus, you will have 1-2 hours between classes.  If you commute,
there will be a minimum of 6 hours between the two classes. </p><p> Moishe Margolies, who weighed all of 105 pounds and stood an even five feet
in his socks, was taking his first airplane trip. He took a seat next to a
hulking bruiser of a man who happened to be the heavyweight champion of
the world.  Little Moishe was uneasy enough before he even entered the plane,
but now the roar of the engines and the great height absolutely terrified him.
So frightened did he become that his stomach turned over and he threw up all
over the muscular giant siting beside him.  Fortunately, at least for Moishe,
the man was sound asleep.  But now the little man had another problem.  How in
the world would he ever explain the situation to the burly brute when he
awakened?  The sudden voice of the stewardess on the plane's intercom, finally
woke the bruiser, and Moishe, his heart in his mouth, rose to the occasion.
	"Feeling better now?" he asked solicitously. </p>
<h3>Header 12812</h3>
<p> A modest woman, dressed out in all her finery, is the most tremendous object
in the whole creation.
		-- Goldsmith </p><p> Ah, my friends, from the prison, they ask unto me,
"How good, how good does it feel to be free?"
And I answer them most mysteriously:
"Are birds free from the chains of the sky-way?"
		-- Bob Dylan </p>
<h3>Header 14257</h3>
<p> "Plaese porrf raed."
		-- Prof. Michael O'Longhlin, S.U.N.Y. Purchase </p><p> You may call me by my name, Wirth, or by my value, Worth.
- Nicklaus Wirth </p>
<h3>Header 24249</h3>
<p> "There must be some mistake," he said, "are you not a greater computer than
the Milliard Gargantubrain which can count all the atoms in a star in a
millisecond?"
"The Milliard Gargantubrain?" said Deep Thought with unconcealed contempt.
"A mere abacus.  Mention it not."
-- Hitchhiker's Guide to the Galaxy </p><p> The most important early product on the way to developing a good product
is an imperfect version. </p>
<h3>Header 18975</h3>
<p> There are a few things that never go out of style, and a feminine woman
is one of them.
		-- Ralston </p><p> "Out of register space (ugh)"
-- vi </p>
<h3>Header 21752</h3>
<p> I wonder if I should put myself in ESCROW!! </p><p> Do not simplify the design of a program if a way can be found to make
it complex and wonderful. </p>
<h3>Header 420</h3>
<p> I've always felt sorry for people that don't drink -- remember,
when they wake up, that's as good as they're gonna feel all day! </p><p> It is not necessary to inquire whether a woman would like something for
dessert.  The answer is yes, she would like something for dessert, but
she would like you to order it so she can pick at it with your fork.  She
does not want you to call attention to this by saying, 'If you wanted a
dessert, why didn't you order one?'  You must understand, she has the
dessert she wants.  The dessert she wants is contained within yours.
		-- Merrill Marcoe, "An Insider's Guide to the American Woman" </p>
<h3>Header 16660</h3>
<p> [Babe] Ruth made a big mistake when he gave up pitching.
		-- Tris Speaker, 1921 </p><p> You will give someone a piece of your mind, which you can ill afford. </p>
<h3>Header 6035</h3>
<p> Don't look back, the lemmings are gaining on you. </p><p> Beam me up, Scotty, there's no intelligent life down here! </p>
<h3>Header 16220</h3>
<p> FORTUNE DISCUSSES THE DIFFERENCES BETWEEN MEN AND WOMEN:	#2

Desserts:
	A woman will generally admire an ornate dessert for the artistic
work it is, praising its creator and waiting a suitable interval before
she reluctantly takes a small sliver off one edge.  A man will start by
grabbing the cherry in the center.

Car repair:
	The average man thinks his Y chromosome contains complete repair
manuals for every car made since World War II.  He will work on a problem
himself until it either goes away or turns into something that "can't be
fixed without special tools".
	The average woman thinks "that funny thump-thump noise" is an
accurate description of an automotive problem.  She will, however, have the
car serviced at the proper intervals and thereby incur fewer problems than
the average man. </p><p> Steinbach's Guideline for Systems Programming:
	Never test for an error condition you don't know how to handle. </p>
<h3>Header 15381</h3>
<p> 	A father gave his teen-age daughter an untrained pedigreed pup for
her birthday.  An hour later, when wandered through the house, he found her
looking at a puddle in the center of the kitchen.  "My pup," she murmured
sadly, "runneth over." </p><p> 	Two men looked out from the prison bars,
	One saw mud--
	The other saw stars.

Now let me get this right: two prisoners are looking out the window.
While one of them was looking at all the mud -- the other one got hit
in the head. </p>
<h3>Header 17661</h3>
<p> Lee's Law:
	Mother said there would be days like this,
	but she never said that there'd be so many! </p><p> Why won't you let me kiss you goodnight?  Is it something I said?
		-- Tom Ryan </p>
<h3>Header 27910</h3>
<p> FORTUNE PROVIDES QUESTIONS FOR THE GREAT ANSWERS: #21
A:	Dr. Livingston I. Presume.
Q:	What's Dr. Presume's full name? </p><p> MAC user's dynamic debugging list evaluator?  Never heard of that. </p>
<h3>Header 23782</h3>
<p> Virtue is a relative term.
		-- Spock, "Friday's Child", stardate 3499.1 </p><p> Come live with me and be my love,
And we will some new pleasures prove
Of golden sands and crystal brooks
With silken lines, and silver hooks.
There's nothing that I wouldn't do
If you would be my POSSLQ.

You live with me, and I with you,
And you will be my POSSLQ.
I'll be your friend and so much more;
That's what a POSSLQ is for.

And everything we will confess;
Yes, even to the IRS.
Some day on what we both may earn,
Perhaps we'll file a joint return.
You'll share my pad, my taxes, joint;
You'll share my life - up to a point!
And that you'll be so glad to do,
Because you'll be my POSSLQ. </p>
<h3>Header 7284</h3>
<p> To iterate is human, to recurse, divine.
		-- Robert Heller </p><p> Three minutes' thought would suffice to find this out; but thought is
irksome and three minutes is a long time.
		-- A.E. Houseman </p>
<h3>Header 9631</h3>
<p> Dogs just don't seem to be able to tell the difference between important people
and the rest of us. </p><p> Cecil, you're my final hope
Of finding out the true Straight Dope
For I have been reading of Schrodinger's cat
But none of my cats are at all like that.
This unusual animal (so it is said)
Is simultaneously alive and dead!
What I don't understand is just why he
Can't be one or the other, unquestionably.
My future now hangs in between eigenstates.
In one I'm enlightened, in the other I ain't.
If *you* understand, Cecil, then show me the way
And rescue my psyche from quantum decay.
But if this queer thing has perplexed even you,
Then I will *___and* I won't see you in Schrodinger's zoo.
		-- Randy F., Chicago, "The Straight Dope, a compendium
		   of human knowledge" by Cecil Adams </p>
<h3>Header 27778</h3>
<p> Shirley MacLaine died today in a freak psychic collision today.  Two freaks
in a van  [Oh no!!  It's the Copyright Police!!]  Her aura-charred body was
laid to rest after a eulogy by Jackie Collins, fellow member of SAFE [Society
of Asinine Flake Entertainers].  Excerpted from some of his more quotable
comments:

	"Truly a woman of the times.  These times, those times..."
	"A Renaissance woman.  Why in 1432..."
	"A man for all seasons.  Really..."

After the ceremony, Shirley thanked her mourners and explained how delightful
it was to "get it together" again, presumably referring to having her now dead
body join her long dead brain. </p><p> "... all the good computer designs are bootlegged; the formally planned
products, if they are built at all, are dogs!"
		-- David E. Lundstrom, "A Few Good Men From Univac",
		   MIT Press, 1987 </p>
<h3>Header 32396</h3>
<p> And did those feet, in ancient times,
Walk upon England's mountains green?
And was the Holy Lamb of God
In England's pleasant pastures seen?
And did the Countenance Divine
Shine forth upon these crowded hills?
And was Jerusalem builded here
Among these dark satanic mills?

Bring me my bow of burning gold!
Bring me my arrows of desire!
Bring me my spears!  O clouds unfold!
Bring me my chariot of fire!
I shall not cease from mental fight,
Nor shall my sword rest in my hand,
Till we have built Jerusalem
In England's green and pleasant land.
		-- William Blake, "Jerusalem" </p><p> Now, it we had this sort of thing:
  yield -a     for yield to all traffic
  yield -t     for yield to trucks
  yield -f     for yield to people walking (yield foot)
  yield -d t*  for yield on days starting with t
...you'd have a lot of dead people at intersections, and traffic jams you
wouldn't believe...
(Discussion in comp.os.linux.misc on the intuitiveness of commands.) </p>
<h3>Header 16628</h3>
<p> New Year's Eve is the time of year when a man most feels his age,
and his wife most often reminds him to act it.
		-- Webster's Unafraid Dictionary </p><p> 	A shy teenage boy finally worked up the nerve to give a gift to
Madonna, a young puppy.  It hitched its waggin' to a star. </p>
<h3>Header 26502</h3>
<p> I think there's a world market for about five computers.
		-- attr. Thomas J. Watson (Chairman of the Board, IBM), 1943 </p><p> Don't you wish that all the people who sincerely want to help you
could agree with each other? </p>
<h3>Header 12355</h3>
<p> Honesty's the best policy.
		-- Miguel de Cervantes </p><p> I want to be the white man's brother, not his brother-in-law.
		-- Martin Luther King, Jr. </p>
<h3>Header 249</h3>
<p> The smallest worm will turn being trodden on.
		-- William Shakespeare, "Henry VI" </p><p> Women aren't as mere as they used to be.
		-- Pogo </p>
<h3>Header 26712</h3>
<p> "The pathology is to want control, not that you ever get it, because of
course you never do."
-- Gregory Bateson </p><p> Don't look back, the lemmings are gaining on you. </p>
<h3>Header 10291</h3>
<p> It's never too late to have a happy childhood. </p><p> "It's not just a computer -- it's your ass."
-- Cal Keegan </p>
<h3>Header 24794</h3>
<p> If you can't get your work done in the first 24 hours, work nights. </p><p> What ever happened to happily ever after? </p>
<h3>Header 4103</h3>
<p> To converse at the distance of the Indes by means of sympathetic contrivances
may be as natural to future times as to us is a literary correspondence.
		-- Joseph Glanvill, 1661 </p><p> The world will end in 5 minutes.  Please log out. </p>
