<h2>Topic a.2</h2>
<h3>Header 17951</h3>
<p> So she went into the garden to cut a cabbage leaf to make an apple pie;
and at the same time a great she-bear, coming up the street pops its head
into the shop. "What! no soap?" So he died, and she very imprudently
married the barber; and there were present the Picninnies, and the Grand
Panjandrum himself, with the little round button at top, and they all
fell to playing the game of catch as catch can, till the gunpowder ran
out at the heels of their boots.
		-- Samuel Foote </p><p> So so is good, very good, very excellent good:
and yet it is not; it is but so so.
		-- William Shakespeare, "As You Like It" </p>
<h3>Header 14096</h3>
<p> The computing field is always in need of new cliches.
		-- Alan Perlis </p><p> Bugs, pl. n.:
	Small living things that small living boys throw on small living girls. </p>
<h3>Header 967</h3>
<p> QOTD:
	"Even the Statue of Liberty shaves her pits." </p><p> I've never been drunk, but often I've been overserved.
		-- George Gobel </p>
<h3>Header 1016</h3>
<p> Genius, n.:
	A chemist who discovers a laundry additive that rhymes with "bright." </p><p> As for the women, though we scorn and flout 'em,
We may live with, but cannot live without 'em.
		-- Frederic Reynolds </p>
<h3>Header 19251</h3>
<p> _/I\_____________o______________o___/I\     l  * /    /_/ *   __  '     .* l
I"""_____________l______________l___"""I\   l      *//      _l__l_   . *.  l
 [__][__][(******)__][__](******)[__][] \l  l-\ ---//---*----(oo)----------l
 [][__][__(******)][__][_(******)_][__] l   l  \ // ____ >-(    )-<    /  l
 [__][__][_l    l[__][__][l    l][__][] l   l \)) ._****_.(......) .@@@:::l
 [][__][__]l   .l_][__][__]   .l__][__] l   l   ll  _(o_o)_        (@*_*@  l
 [__][__][/   <_)[__][__]/   <_)][__][] l   l   ll (  / \  )     /   / / ) l
 [][__][ /..,/][__][__][/..,/_][__][__] l   l  / \  _\  \_   /     _\_\   l
 [__][__(__/][__][__][_(__/_][__][__][] l   l______________________________l
 [__][__]] l     ,  , .      [__][__][] l
 [][__][_] l   . i. '/ ,     [][__][__] l        /\**/\       season's
 [__][__]] l  O .\ / /, O    [__][__][] l       ( o_o  )_)       greetings
_[][__][_] l__l======='=l____[][__][__] l_______,(u  u  ,),__________________
 [__][__]]/  /l\-------/l\   [__][__][]/       {}{}{}{}{}{}<R>

In Ellen's house it is warm and toasty while fuzzies play in the snow outside. </p><p> bit, n:
	A unit of measure applied to color.  Twenty-four-bit color
	refers to expensive $3 color as opposed to the cheaper 25
	cent, or two-bit, color that use to be available a few years ago. </p>
<h3>Header 885</h3>
<p> A real patriot is the fellow who gets a parking ticket and rejoices
that the system works. </p><p> Theory is gray, but the golden tree of life is green.
		-- Goethe </p>
<h3>Header 10298</h3>
<p> "Now here's something you're really going to like!"
-- Rocket J. Squirrel </p><p> Some people only open up to tell you that they're closed. </p>
<h3>Header 7031</h3>
<p> "It's God.  No, not Richard Stallman, or Linus Torvalds, but God."
(By Matt Welsh) </p><p> A fool and his money are soon popular. </p>
<h3>Header 10965</h3>
<p> "You tweachewous miscweant!"
-- Elmer Fudd </p><p> It is not good for a man to be without knowledge,
and he who makes haste with his feet misses his way.
		-- Proverbs 19:2 </p>
<h3>Header 7551</h3>
<p> Lots of folks are forced to skimp to support a government that won't. </p><p> Don't let your status become too quo! </p>
<h3>Header 4311</h3>
<p> In success there's a tendency to keep on doing what you were doing.
		-- Alan Kay </p><p> Gravity is a myth, the Earth sucks. </p>
<h3>Header 11271</h3>
<p> The mark of your ignorance is the depth of your belief in injustice
and tragedy.  What the caterpillar calls the end of the world, the
master calls a butterfly.
		-- Messiah's Handbook : Reminders for the Advanced Soul </p><p> "What a wonder is USENET; such wholesale production of conjecture from
such a trifling investment in fact."
-- Carl S. Gutekunst </p>
<h3>Header 6766</h3>
<p> Liar:
	one who tells an unpleasant truth.
		-- Oliver Herford </p><p> Many are called, few volunteer. </p>
<h3>Header 14079</h3>
<p> The best executive is one who has sense enough to pick good people to do
what he wants done, and self-restraint enough to keep from meddling with
them while they do it.
		-- Theodore Roosevelt </p><p> VMS is like a nightmare about RXS-11M. </p>
<h3>Header 20269</h3>
<p> Marriage is a romance in which the hero dies in the first chapter. </p><p> The biggest mistake you can make is to believe that you are working for
someone else. </p>
<h3>Header 13841</h3>
<p> I refuse to consign the whole male sex to the nursery.  I insist on
believing that some men are my equals.
		-- Brigid Brophy </p><p> Etiquette is for those with no breeding; fashion for those with no taste. </p>
<h3>Header 19417</h3>
<p> Armor's Axiom:
	Virtue is the failure to achieve vice. </p><p> Well, you know, no matter where you go, there you are.
		-- Buckaroo Banzai </p>
<h3>Header 13089</h3>
<p> Experience is not what happens to you; it is what you do with what happens
to you.
		-- Aldous Huxley </p><p> Man is the only animal that laughs and weeps; for he is the only animal
that is struck with the difference between what things are and what they
ought to be.
		-- William Hazlitt </p>
