<h2>Topic a.5</h2>
<h3>Header 11512</h3>
<p> The trouble with a kitten is that
When it grows up, it's always a cat
		-- Ogden Nash. </p><p> God must have loved calories, she made so many of them. </p>
<h3>Header 19973</h3>
<p> AMAZING BUT TRUE ...
	If all the salmon caught in Canada in one year were laid end to end
	across the Sahara Desert, the smell would be absolutely awful. </p><p> Dear Emily:
	I collected replies to an article I wrote, and now it's time to
summarize.  What should I do?
		-- Editor

Dear Editor:
	Simply concatenate all the articles together into a big file and post
that.  On USENET, this is known as a summary.  It lets people read all the
replies without annoying newsreaders getting in the way.  Do the same when
summarizing a vote.
		-- Emily Postnews Answers Your Questions on Netiquette </p>
<h3>Header 17251</h3>
<p> Lonely men seek companionship.  Lonely women sit at home and wait.
They never meet. </p><p> Absence is to love what wind is to fire.  It extinguishes the small,
it enkindles the great. </p>
<h3>Header 11180</h3>
<p> Thus spake the master programmer:
	"After three days without programming, life becomes meaningless."
		-- Geoffrey James, "The Tao of Programming" </p><p> Common sense is the most evenly distributed quantity in the world.
Everyone thinks he has enough.
	-- Descartes, 1637 </p>
<h3>Header 25686</h3>
<p> For every complex problem, there is a solution that is simple, neat, and wrong.
		-- H. L. Mencken </p><p> I get up each morning, gather my wits.
Pick up the paper, read the obits.
If I'm not there I know I'm not dead.
So I eat a good breakfast and go back to bed.

Oh, how do I know my youth is all spent?
My get-up-and-go has got-up-and-went.
But in spite of it all, I'm able to grin,
And think of the places my get-up has been.
		-- Pete Seeger </p>
<h3>Header 24655</h3>
<p> Children begin by loving their parents.  After a time they judge them.
Rarely, if ever, do they forgive them.
		-- Oscar Wilde </p><p> I just got my PRINCE bumper sticker ... But now I can't remember WHO he is ... </p>
<h3>Header 1534</h3>
<p> The District of Columbia has a law forbidding you to exert pressure on
a balloon and thereby cause a whistling sound on the streets. </p><p> The first Rotarian was the first man to call John the Baptist "Jack."
		-- H.L. Mencken </p>
<h3>Header 8845</h3>
<p> Time as he grows old teaches all things.
		-- Aeschylus </p><p> I believe that if people would learn to use LSD's vision-inducing capability
more wisely, under suitable conditions, in medical practice and in conjution
with meditation, then in the future this problem child could become a wonder
child.
- Dr. Albert Hoffman, the discoverer of LSD </p>
<h3>Header 5227</h3>
<p> I didn't do it! Nobody saw me do it! Can't prove anything!
                -- Bart Simpson </p><p> Retirement means that when someone says "Have a nice day", you
actually have a shot at it. </p>
<h3>Header 6269</h3>
<p> ... A booming voice says, "Wrong, cretin!", and you notice that you
have turned into a pile of dust. </p><p> The last time somebody said, "I find I can write much better with a word
processor.", I replied, "They used to say the same thing about drugs."
		-- Roy Blount, Jr. </p>
<h3>Header 17088</h3>
<p> 	A program should be light and agile, its subroutines connected like a
strings of pearls.  The spirit and intent of the program should be retained
throughout.  There should be neither too little nor too much, neither needless
loops nor useless variables, neither lack of structure nor overwhelming
rigidity.
	A program should follow the 'Law of Least Astonishment'.  What is this
law?  It is simply that the program should always respond to the user in the
way that astonishes him least.
	A program, no matter how complex, should act as a single unit.  The
program should be directed by the logic within rather than by outward
appearances.
	If the program fails in these requirements, it will be in a state of
disorder and confusion.  The only way to correct this is to rewrite the
program.
		-- Geoffrey James, "The Tao of Programming" </p><p> Here is an Appalachian version of management's answer to those who are 
concerned with the fate of the project:
"Don't worry about the mule.  Just load the wagon."
-- Mike Dennison's hillbilly uncle </p>
<h3>Header 22679</h3>
<p> Reunite Gondwondaland! </p><p> Beauty, n.:
	The power by which a woman charms a lover and terrifies a husband.
		-- Ambrose Bierce </p>
