<h2>Topic c.1</h2>
<h3>Header 23180</h3>
<p> "They that can give up essential liberty to obtain a little temporary
saftey deserve neither liberty not saftey."
-- Benjamin Franklin, 1759 </p><p> Elegance and truth are inversely related.
		-- Becker's Razor </p>
<h3>Header 7813</h3>
<p> Some people pray for more than they are willing to work for. </p><p> "What is wanted is not the will to believe, but the will to find out, which is
the exact opposite."
-- Bertrand Russell, _Sceptical_Essays_, 1928 </p>
<h3>Header 17803</h3>
<p> Weinberg, as a young grocery clerk, advised the grocery manager to get
rid of rutabagas which nobody every bought.  He did so. "Well, kid, that
was a great idea," said the manager. Then he paused and asked the killer
question, "NOW what's the least popular vegetable?"

Law: Once you eliminate your #1 problem, #2 gets a promotion.
	-- Gerald Weinberg, "The Secrets of Consulting" </p><p> Macho does not prove mucho.
		-- Zsa Zsa Gabor </p>
<h3>Header 10980</h3>
<p> My advice to you, my violent friend, is to seek out gold and sit on it.
		-- The Dragon to Grendel, in John Gardner's "Grendel" </p><p> Dinosaurs aren't extinct.  They've just learned to hide in the trees. </p>
<h3>Header 31254</h3>
<p> You are as I am with You. </p><p> Don't let people drive you crazy when you know it's in walking distance. </p>
<h3>Header 15984</h3>
<p> Example is not the main thing in influencing others.  It is the only thing.
		-- Albert Schweitzer </p><p> "Conversion, fastidious Goddess, loves blood better than brick, and feasts
most subtly on the human will."
-- Virginia Woolf, "Mrs. Dalloway" </p>
<h3>Header 20752</h3>
<p> If people concentrated on the really important things in life,
there'd be a shortage of fishing poles.
		-- Doug Larson </p><p> Fortune's Exercising Truths:

1:  Richard Simmons gets paid to exercise like a lunatic.  You don't.
2.  Aerobic exercises stimulate and speed up the heart.  So do heart attacks.
3.  Exercising around small children can scar them emotionally for life.
4.  Sweating like a pig and gasping for breath is not refreshing.
5.  No matter what anyone tells you, isometric exercises cannot be done
    quietly at your desk at work.  People will suspect manic tendencies as
    you twitter around in your chair.
6.  Next to burying bones, the thing a dog enjoys mosts is tripping joggers.
7.  Locking four people in a tiny, cement-walled room so they can run around
    for an hour smashing a little rubber ball -- and each other -- with a hard
    racket should immediately be recognized for what it is: a form of insanity.
8.  Fifty push-ups, followed by thirty sit-ups, followed by ten chin-ups,
    followed by one throw-up.
9.  Any activity that can't be done while smoking should be avoided. </p>
<h3>Header 4152</h3>
<p> The great merit of society is to make one appreciate solitude.
		-- Charles Chincholles, "Reflections on the Art of Life" </p><p> Ducks?  What ducks?? </p>
<h3>Header 27916</h3>
<p> If a system is administered wisely,
its users will be content.
They enjoy hacking their code
and don't waste time implementing
labor-saving shell scripts.
Since they dearly love their accounts,
they aren't interested in other machines.
There may be telnet, rlogin, and ftp,
but these don't access any hosts.
There may be an arsenal of cracks and malware,
but nobody ever uses them.
People enjoy reading their mail,
take pleasure in being with their newsgroups,
spend weekends working at their terminals,
delight in the doings at the site.
And even though the next system is so close
that users can hear its key clicks and biff beeps,
they are content to die of old age
without ever having gone to see it. </p><p> If God is dead, who will save the Queen? </p>
<h3>Header 21139</h3>
<p> High heels are a device invented by a woman who was tired of being kissed
on the forehead. </p><p> If the rich could pay the poor to die for them, what a living the poor
could make! </p>
<h3>Header 25898</h3>
<p> Dear Sir,
	I am firmly opposed to the spread of microchips either to the home or
to the office,  We have more than enough of them foisted upon us in public
places.  They are a disgusting Americanism, and can only result in the farmers
being forced to grow smaller potatoes, which in turn will cause massive un-
employment in the already severely depressed agricultural industry.
	Yours faithfully,
	Capt. Quinton D'Arcy, J.P.
	Sevenoaks
		-- Letters To The Editor, The Times of London </p><p> 	[I plan] to see, hear, touch, and destroy everything in my path,
including beets, rutabagas, and most random vegetables, but excluding yams,
as I am absolutely terrified of yams...
	Actually, I think my fear of yams began in my early youth, when many
of my young comrades pelted me with same for singing songs of far-off lands
and deep blue seas in a language closely resembling that of the common sow.
My psychosis was further impressed into my soul as I reached adolescence,
when, while skipping through a field of yams, light-heartedly tossing flowers
into the stratosphere, a great yam-picking machine tore through the fields,
pursuing me to the edge of the great plantation, where I escaped by diving
into a great ditch filled with a mixture of water and pig manure, which may
explain my tendency to scream, "Here come the Martians!  Hide the eggs!" every
time I have pork.  But I digress.  The fact remains that I cannot rationally
deal with yams, and pigs are terrible conversationalists. </p>
<h3>Header 13538</h3>
<p> The hatred of relatives is the most violent.
		-- Tacitus (c.55 - c.117) </p><p> No more blah, blah, blah!
		-- Kirk, "Miri", stardate 2713.6 </p>
<h3>Header 7428</h3>
<p> A can of ASPARAGUS, 73 pigeons, some LIVE ammo, and a FROZEN DAQUIRI!! </p><p> If you lose your temper at a newspaper columnist, he'll get rich, 
or famous or both. </p>
<h3>Header 5234</h3>
<p> Elephant, n.:
	A mouse built to government specifications. </p><p> The rose of yore is but a name, mere names are left to us. </p>
<h3>Header 18623</h3>
<p> byob, v:
	Believing Your Own Bull </p><p> "Gort, klaatu nikto barada."
-- The Day the Earth Stood Still </p>
<h3>Header 5121</h3>
<p> Programmers do it bit by bit. </p><p> "My life is a soap opera, but who has the rights?"
	-- MadameX </p>
<h3>Header 3257</h3>
<p> Air is water with holes in it. </p><p> Fools ignore complexity.  Pragmatists suffer it.
Some can avoid it.  Geniuses remove it.
-- Perlis's Programming Proverb #58, SIGPLAN Notices, Sept.  1982 </p>
<h3>Header 24786</h3>
<p> Absence in love is like water upon fire; a little quickens, but much
extinguishes it.
		-- Hannah More </p><p> Lady Luck brings added income today.  Lady friend takes it away tonight. </p>
<h3>Header 9364</h3>
<p> Have you seen how Sonny's burning,
Like some bright erotic star,
He lights up the proceedings,
And raises the temperature.
		-- The Birthday Party, "Sonny's Burning" </p><p> Anyone who cannot cope with mathematics is not fully human.  At best he
is a tolerable subhuman who has learned to wear shoes, bathe and not
make messes in the house.
		-- Lazarus Long, "Time Enough for Love" </p>
<h3>Header 11190</h3>
<p> 	"No, I understand now," Auberon said, calm in the woods -- it was so
simple, really.  "I didn't, for a long time, but I do now.  You just can't
hold people, you can't own them.  I mean it's only natural, a natural process
really.  Meet.  Love.  Part.  Life goes on.  There was never any reason to
expect her to stay always the same -- I mean `in love,' you know."  There were
those doubt-quotes of Smoky's, heavily indicated.  "I don't hold a grudge.  I
can't."
	"You do," Grandfather Trout said.  "And you don't understand."
		-- Little, Big, "John Crowley" </p><p> [Maturity consists in the discovery that] there comes a critical moment
where everything is reversed, after which the point becomes to understand
more and more that there is something which cannot be understood.
		-- S. Kierkegaard </p>
<h3>Header 28006</h3>
<p> I've got a COUSIN who works in the GARMENT DISTRICT ... </p><p> My computer can beat up your computer.
- Karl Lehenbauer </p>
<h3>Header 21752</h3>
<p> Now KEN and BARBIE are PERMANENTLY ADDICTED to MIND-ALTERING DRUGS ... </p><p> "Who cares if it doesn't do anything?  It was made with our new
Triple-Iso-Bifurcated-Krypton-Gate-MOS process ..." </p>
<h3>Header 26291</h3>
<p> Any woman is a volume if one knows how to read her. </p><p> Felson's Law:
	To steal ideas from one person is plagiarism; to steal from
	many is research. </p>
<h3>Header 6364</h3>
<p> Historians have now definitely established that Juan Cabrillo, discoverer
of California, was not looking for Kansas, thus setting a precedent that
continues to this day.
		-- Wayne Shannon </p><p> For those of you who have been unfortunate enough to never have tasted the
'Great Chieftain O' the Pudden Race' (i.e. haggis) here is an easy to follow
recipe which results in a dish remarkably similar to the above mentioned
protected species.
	Ingredients:
	  1 Sheep's Pluck (heart, lungs, liver) and bag
	  2 teacupsful toasted oatmeal
	  1 teaspoonful salt
	  8 oz. shredded suet
	  2 small onions
	1/2 teaspoonful black pepper
    
	Scrape and clean bag in cold, then warm, water.  Soak in salt water
overnight.  Wash pluck, then boil for 2 hours with windpipe draining over
the side of pot.  Retain 1 pint of stock.  Cut off windpipe, remove surplus
gristle, chop or mince heart and lungs, and grate best part of liver (about
half only).  Parboil and chop onions, mix all together with oatmeal, suet,
salt, pepper and stock to moisten.  Pack the mixture into bag, allowing for
swelling.  Boil for three hours, pricking regularly all over.  If bag not
available, steam in greased basin covered by greaseproof paper and cloth for
four to five hours. </p>
