<h2>Topic a.3</h2>
<h3>Header 20525</h3>
<p> Now I understand the meaning of "THE MOD SQUAD"! </p><p> Any girl can be glamorous; all you have to do is stand still and look stupid.
		-- Hedy Lamarr </p>
<h3>Header 17324</h3>
<p> timesharing, n:
	An access method whereby one computer abuses many people. </p><p> You have the body of a 19 year old.  Please return it before it gets wrinkled. </p>
<h3>Header 28244</h3>
<p> Might as well be frank, monsieur.  It would take a miracle to get you out
of Casablanca and the Germans have outlawed miracles.
		-- Casablanca </p><p> What good is an obscenity trial except to popularize literature?
		-- Nero Wolfe, "The League of Frightened Men" </p>
<h3>Header 24580</h3>
<p> "The greatest dangers to liberty lurk in insidious encroachment by mean of zeal,
well-meaning but without understanding."
-- Justice Louis O. Brandeis (Olmstead vs. United States) </p><p> Hmmm ... a PINHEAD, during an EARTHQUAKE, encounters an ALL-MIDGET
FIDDLE ORCHESTRA ... ha ... ha ... </p>
<h3>Header 23546</h3>
<p> Biology is the only science in which multiplication means the same thing
as division. </p><p> A man of genius makes no mistakes.
His errors are volitional and are the portals of discovery.
		-- James Joyce, "Ulysses" </p>
<h3>Header 12001</h3>
<p> "None of our men are "experts."  We have most unfortunately found it necessary 
to get rid of a man as soon as he thinks himself an expert -- because no one 
ever considers himself expert if he really knows his job.  A man who knows a 
job sees so much more to be done than he has done, that he is always pressing 
forward and never gives up an instant of thought to how good and how efficient 
he is.  Thinking always ahead, thinking always of trying to do more, brings a 
state of mind in which nothing is impossible. The moment one gets into the
"expert" state of mind a great number of things become impossible."
-- From Henry Ford Sr., "My Life and Work," p. 86 (1922): </p><p> I feel ... JUGULAR ... </p>
<h3>Header 19392</h3>
<p> "Apathy is not the problem, it's the solution" </p><p> Oh Lord, won't you buy me a 4BSD?
My friends all got sources, so why can't I see?
Come all you moby hackers, come sing it out with me:
To hell with the lawyers from AT&T! </p>
<h3>Header 26540</h3>
<p> I will honour Christmas in my heart, and try to keep it all the year.  I
will live in the Past, the Present, and the Future.  The Spirits of all
Three shall strive within me.  I will not shut out the lessons that they
teach.  Oh, tell me that I may sponge away the writing on this stone!
		-- Charles Dickens </p><p> One good turn deserves another.
		-- Gaius Petronius </p>
<h3>Header 26503</h3>
<p> TIPS FOR PERFORMERS:
	Playing cards have the top half upside-down to help cheaters.
	There are a finite number of jokes in the universe.
	Singing is a trick to get people to listen to music longer than
		they would ordinarily.
	There is no music in space.
	People will pay to watch people make sounds.
	Everything on stage should be larger than in real life. </p><p> "I think Michael is like litmus paper - he's always trying to learn."
-- Elizabeth Taylor, absurd non-sequitir about Michael Jackson </p>
<h3>Header 1697</h3>
<p> Death rays don't kill people, people kill people!! </p><p> "I changed my headlights the other day. I put in strobe lights instead! Now
when I drive at night, it looks like everyone else is standing still ..."
		-- Steven Wright </p>
<h3>Header 26249</h3>
<p> XIIdigitation, n.:
	The practice of trying to determine the year a movie was made
	by deciphering the Roman numerals at the end of the credits.
		-- Rich Hall, "Sniglets" </p><p> Miller's Slogan:
	Lose a few, lose a few. </p>
<h3>Header 27501</h3>
<p> Hey! Come merry dol! derry dol!  My darling!
Light goes the weather-wind and the feathered starling.

Down along under Hill, shining in the sunlight,
Waiting on the doorstep for the cold starlight,
There my pretty lady is, River-woman's daughter,
Slender as the willow-wand, clearer than the water.

Old Tom Bombadil water-lilies bringing
Comes hopping home again.  Can you hear him singing?
Hey!  Come merry dol! derry dol! and merry-o
Goldberry, Goldberry, merry yellow berry-o!

Poor old Willow-man, you tuck your roots away!
Tom's in a hurry now.  Evening will follow day.
Tom's going home again water-lilies bringing.
Hey! come derry dol!  Can you hear me singing?
		-- J. R. R. Tolkien </p><p> A celebrity is a person who is known for his well-knownness. </p>
<h3>Header 24658</h3>
<p> Killing is wrong.
		-- Losira, "That Which Survives", stardate unknown </p><p> Take time to reflect on all the things you have, not as a result of your
merit or hard work or because God or chance or the efforts of other people
have given them to you. </p>
<h3>Header 11454</h3>
<p> When taxes are due, Americans tend to feel quite bled-white and blue. </p><p> I profoundly believe it takes a lot of practice to become a moral slob.
		-- William F. Buckley </p>
<h3>Header 4240</h3>
<p> Technology is dominated by those who manage what they do not understand. </p><p>       _
  _  / \			   o
 / \ | |		       o	   o		 o
 | | | |   _			o    o		       o       o
 | \_| |  / \		      o			    o	 o
  \__  |  | |		  o			      o
     | |  | |		 ______	  ~~~~		    _____
     | |__/ |	       / ___--\ ~~~		 __/_____\__
     |	___/	      / \--\  \   \ ___	<__  x x  __\
     | |	     / /\  \	     ))	 \	   (  "	 )
     | |     -------(---->>(@)--(@)-------\----------< >-----------
     | |   //	    | | //__________  /	   \	____)	(___	  \
     | |  //	  __|_|	 ( --------- )	    //// ______ /////\	   \
	 //	  |    (  \ ______  /	   <<<< <>-----<<<<< /	    \
	//	 (     )		      / /	  \` \__     \
       //-------------------------------------------------------------\

Every now and then, when your life gets complicated and the weasels start
closing in, the only cure is to load up on heinous chemicals and then
drive like a bastard from Hollywood to Las Vegas ... with the music at
top volume and at least a pint of ether.
		-- Hunter S. Thompson, "Fear and Loathing in Las Vegas" </p>
<h3>Header 30547</h3>
<p> Ah, the Tsar's bazaar's bizarre beaux-arts! </p><p> God is dead and I don't feel all too well either....
		-- Ralph Moonen </p>
<h3>Header 28892</h3>
<p> The flush toilet is the basis of Western civilization.
		-- Alan Coult </p><p> "A dirty mind is a joy forever."
-- Randy Kunkee </p>
<h3>Header 7420</h3>
<p> Chicken Little was right. </p><p> He who loses, wins the race,
And parallel lines meet in space.
		-- John Boyd, "Last Starship from Earth" </p>
<h3>Header 3459</h3>
<p> FORTUNE REMEMBERS THE GREAT MOTHERS: #6

	"Johnny, if you fall and break your leg, don't come running to me!"
		-- Mrs. Emily Barstow, June 16, 1954 </p><p> Love America -- or give it back. </p>
<h3>Header 4998</h3>
<p> As in certain cults it is possible to kill a process if you know its true name.
		-- Ken Thompson and Dennis M. Ritchie </p><p> A nasty looking dwarf throws a knife at you. </p>
<h3>Header 686</h3>
<p> Crenna's Law of Political Accountability:
	If you are the first to know about something bad, you are going to be
	held responsible for acting on it, regardless of your formal duties. </p><p> Coding is easy;  All you do is sit staring at a terminal until the drops
of blood form on your forehead. </p>
